@using ATGHR.Models.Database
@{
	ViewData["Title"] = "Goal Sheet";
	User ATGUser = (User)ViewData["User"];
}
<div class="show_for_print">
	<img class="ui image small" src="~/img/atg_color_logo.svg" />
</div>
<div class="ui teal inverted segment refresh_warning">
	Please click <a href="">here</a> to keep your session active.
</div>
<div class="sheet_sub_nav local_active">
	<div class="ui container">
		<button class="ui button save_button">Save</button>
		<button class="ui button approve_button" style="display: none;"></button>
		<button class="ui button print_sheet" onclick="window.print()"><i class="print icon"></i> Print</button>
		<button class="ui red button unapprove_button" style="float: right; display: none;"></button>
		<button class="expander local_active" aria-label="hide sheet menu"><i class="dropdown icon"></i></button>
		<div class="spacer" style="clear: both"></div>
	</div>
</div>
<div class="local_spacer local_active" style="display:none;">&nbsp;</div>
<h1 class="ui header center aligned"><span id="sheet_year"></span> Goals</h1>
<div class="ui stackable grid container">
	<div class="ten wide column page_header_info">
		<h2 class="ui header container" id="user_name"></h2>
		<h3 class="ui header container">Role: <span id="user_role"></span></h3>
		<h3 class="ui header container">Division Name: <span id="user_division"></span></h3>
		<h3 class="ui header container" style="display: none;">Practice Name: <span id="user_practice"></span></h3>
		<h3 class="ui header container">Career Ladder: <span id="user_career_ladder"></span></h3>
		<h3 class="ui header container">Due: <span id="sheet_due_date"></span></h3>
	</div>
	<div class="six wide column">
		@*<div class="status"><span>Status: </span></div>*@
		<div class="ui equal width grid sheet_progress_bar goal_progress_bar">
			<div class="column">
				<div class="goal_progress" alt="Employee Progress"></div>
			</div>
			<div class="column">
				<div class="goal_progress" alt="Manager Progress"></div>
			</div>
			<div class="column">
				<div class="goal_progress" alt="Division Lead Progress"></div>
			</div>
			<div class="column">
				<div class="goal_progress" alt="Human Resources Progress"></div>
			</div>
		</div>
	</div>
</div>

<div class="ui container" id="weight_warning" text-align="center">
	<div class="ui red message" id="expected_100" style="display: none">Your weights combined are <strong>not</strong> 100%. Instead they equal <strong><span></span>%</strong>. <br /> The weights must add up to 100%. Please adjust your weights accordingly.</div>
</div>

<form class="ui form" id="goal_sheet" method="post" action="" onsubmit="return false;">
	<div class="ui container padding_tb" id="tab_container">
		<div class="ui top attached tabular menu goals wrapped" id="tab_headers">
			<!-- menu tabs get placed here -->
			<div class="item active" data-tab="company_wide_goals" id="company_wide_goals"><h2>Company</h2></div>
			<div class="item" data-tab="tab_template" id="tab_header" style="display: none;"><h2></h2></div>
		</div>
		<!-- tab bodies get "appended" here -->
		<div class='ui bottom attached tab segment active' id="comapny_wide_goals_body" data-tab="company_wide_goals">
			<h2 class="ui header centered" id="company_wide_goals_header">Company Wide Goals</h2>
			<table class="ui celled table">
				<thead>
					<tr>
						<th data-label="Name">&nbsp;</th>
						<th data-label="Company">Company</th>
						<th data-label="Division">Division</th>
						<th data-label="Practice">Practice</th>
					</tr>
				</thead>
				<tbody>
					<tr class="cwg_row table_row" data-pfield="Job Starts">
						<td data-label="Name">Job Starts</td>
						<td data-label="Company"><span class="company table_item" data-pfield="Job Starts">$0</span></td>
						<td data-label="Division">
							<div class="content">
								<p>ENG: <span class="eng table_item" data-division="Engineering" data-pfield="Job Starts">$0</span></p>
								<p>PLAN: <span class="plan table_item" data-division="Planning" data-pfield="Job Starts">$0</span></p>
								<p>ADMIN: <span class="admin table_item" data-division="Administration" data-pfield="Job Starts">$0</span></p>
							</div>
						</td>
						<td data-label="Practice">
							<div class="content">
								<p>Traffic: <span class="traffic table_item" data-division="Traffic" data-practice="true" data-pfield="Job Starts">$0</span></p>
								<p>Roadway: <span class="roadway table_item" data-division="Roadway" data-practice="true" data-pfield="Job Starts">$0</span></p>
								<p>Planning: <span class="planning table_item" data-division="Planning" data-practice="true" data-pfield="Job Starts">$0</span></p>
								<!--<p>Data: <span class="data table_item" data-division="Data Systems and Analysis" data-practice="true" data-pfield="Job Starts">$0</span></p>-->
							</div>
						</td>
					</tr>
					<tr class="cwg_row table_row" data-pfield="Revenues">
						<td data-label="Name">Revenues</td>
						<td data-label="Company"><span class="company table_item" data-pfield="Revenues">$0</span></td>
						<td data-label="Division">
							<div class="content">
								<p>ENG: <span class="eng table_item" data-division="Engineering" data-pfield="Revenues">$0</span></p>
								<p>PLAN: <span class="plan table_item" data-division="Planning" data-pfield="Revenues">$0</span></p>
								<p>ADMIN: <span class="admin table_item" data-division="Administration" data-pfield="Revenues">$0</span></p>
							</div>
						</td>
						<td data-label="Practice">
							<div class="content">
								<p>Traffic: <span class="traffic table_item" data-division="Traffic" data-practice="true" data-pfield="Revenues">$0</span></p>
								<p>Roadway: <span class="roadway table_item" data-division="Roadway" data-practice="true" data-pfield="Revenues">$0</span></p>
								<p>Planning: <span class="planning table_item" data-division="Planning" data-practice="true" data-pfield="Revenues">$0</span></p>
								<!--<p>Data: <span class="data table_item" data-division="Data Systems and Analysis" data-practice="true" data-pfield="Revenues">$0</span></p>-->
							</div>
						</td>
					</tr>
					<tr class="cwg_row table_row" data-pfield="Utilization">
						<td data-label="Name">Utilization</td>
						<td data-label="Company" class="company table_item" data-pfield="Utilization">%</td>
						<td data-label="Division">
							<div class="content">
								<p>ENG: <span class="eng table_item" data-division="Engineering" data-pfield="Utilization">%</span></p>
								<p>PLAN: <span class="plan table_item" data-division="Planning" data-pfield="Utilization">%</span></p>
								<p>ADMIN: <span class="admin table_item" data-division="Administration" data-pfield="Utilization">%</span></p>
							</div>
						</td>
						<td data-label="Practice">
							<div class="content">
								<p>Traffic: <span class="traffic table_item" data-division="Traffic" data-practice="true" data-pfield="Utilization">%</span></p>
								<p>Roadway: <span class="roadway table_item" data-division="Roadway" data-practice="true" data-pfield="Utilization">%</span></p>
								<p>Planning: <span class="planning table_item" data-division="Planning" data-practice="true" data-pfield="Utilization">%</span></p>
								<!--<p>Data: <span class="data table_item" data-division="Data Systems and Analysis" data-practice="true" data-pfield="Utilization">%</span></p>-->
							</div>
						</td>
					</tr>
					<tr class="cwg_row table_row" data-pfield="Multiplier">
						<td data-label="Name">Multiplier</td>
						<td data-label="Company"><span class="company table_item" data-pfield="Multiplier">0.0</span></td>
						<td data-label="Division">
							<div class="content">
								<p>ENG: <span class="eng table_item" data-division="Engineering" data-pfield="Multiplier">0.0</span></p>
								<p>PLAN: <span class="plan table_item" data-division="Planning" data-pfield="Multiplier">0.0</span></p>
								<p>ADMIN: <span class="admin table_item" data-division="Administration" data-pfield="Multiplier">0.0</span></p>
							</div>
						</td>
						<td data-label="Practice">
							<div class="content">
								<p>Traffic: <span class="traffic table_item" data-division="Traffic" data-practice="true" data-pfield="Multiplier">0.0</span></p>
								<p>Roadway: <span class="roadway table_item" data-division="Roadway" data-practice="true" data-pfield="Multiplier">0.0</span></p>
								<p>Planning: <span class="planning table_item" data-division="Planning" data-practice="true" data-pfield="Multiplier">0.0</span></p>
								<!--<p>Data: <span class="data table_item" data-division="Data Systems and Analysis" data-practice="true" data-pfield="Multiplier">0.0</span></p>-->
							</div>
						</td>
					</tr>
					<tr class="cwg_row table_row" data-pfield="MUT">
						<td data-label="Name">MUT</td>
						<td data-label="Company"><span class="company table_item" data-pfield="MUT">0.0</span></td>
						<td data-label="Division">
							<div class="content">
								<p>ENG: <span class="eng table_item" data-division="Engineering" data-pfield="MUT">0.0</span></p>
								<p>PLAN: <span class="plan table_item" data-division="Planning" data-pfield="MUT">0.0</span></p>
								<p>ADMIN: <span class="admin table_item" data-division="Administration" data-pfield="MUT">0.0</span></p>
							</div>
						</td>
						<td data-label="Practice">
							<div class="content">
								<p>Traffic: <span class="traffic table_item" data-division="Traffic" data-practice="true" data-pfield="MUT">0.0</span></p>
								<p>Roadway: <span class="roadway table_item" data-division="Roadway" data-practice="true" data-pfield="MUT">0.0</span></p>
								<p>Planning: <span class="planning table_item" data-division="Planning" data-practice="true" data-pfield="MUT">0.0</span></p>
								<!--<p>Data: <span class="data table_item" data-division="Data Systems and Analysis" data-practice="true" data-pfield="MUT">3.25</span></p>-->
							</div>
						</td>
					</tr>
					<tr class="cwg_row table_row" data-pfield="A/R">
						<td data-label="Name">A/R</td>
						<td data-label="Company"><span class="company table_item" data-pfield="A/R">$0.00 > 120 Days</span></td>
						<td data-label="Division"><span class="division table_item" data-pfield="A/R">$0.00 > 120 Days</span></td>
						<td data-label="Practice"><span class="practice table_item" data-pfield="A/R">$0.00 > 120 Days</span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class='ui bottom attached tab segment' id="tab_body" data-tab="tab_template" style="display: none;">
			<h2 class=""></h2>
			<span class="add_span" style="display: none;">
				<button class="circular ui button icon add_more"><i class="plus icon"></i></button>
				<a href="#">Add </a>
			</span>
		</div>
	</div>
	<div class="ui container center aligned local_padding_top">
		<button class="ui button approve_button" style="display: none;"></button>
		<button class="ui red button unapprove_button" style="display: none;">Send Back</button>
		@*<img class="ui medium centered image local_padding_top" src="~/img/stay_on_target.svg" alt="staying on track" />*@
	</div>
</form>
<div class="performance_item" id="item_template" style="display: none;" aria-hidden="true">
	<div class="white_form_box margin_tb">
		<div class="ui form">
			<h3 class="ui header performance_header" style="display: none;"></h3>
			<h4 class="ui header performance_children_header" style="display: none;"></h4>
			<div class="ui grid performance_top_form_row" style="display: none;">
				<div class="two column row stackable top_row">
					<div class="field column performance_due_date">
						<label for="due_date">Due Date:</label>
						<input type="date" name="performanceGoalSheetItemDate" />
					</div>
					<div class="field column performance_weight">
						<label class="weight_label" for="weight" data-content="Set this weight out of 100%.">Weight of Importance:</label>
						<div class="ui icon input">
							<input type="number" name="weight" placeholder="30" step="any" />
							<i class="percent icon"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="field performance_division_description" style="display: none;"><strong>Division: </strong><span id="d_goal"></span></div>
			<div class="field performance_practice_description" style="display: none;"><strong>Practice: </strong><span id="p_goal"></span></div>
			@*<div class="field performance_description" style="display: none;"><strong>Personal Goal: </strong><span></span></div>*@
			<div class="performance_text  margin_b" style="display: none;"></div>
			<div class="ui fluid accordion item_detail margin_t margin_b">
				<div class="title">
					<i class="dropdown icon"></i>
					Details
				</div>
				<div class="content">
					<div class="performance_children" style="display: none;">
						<span class="add_span" style="display: none;">
							<button class="circular ui button icon add_more"><i class="plus icon"></i></button>
							<a href="#">Add </a>
						</span>
					</div>
				</div>
			</div>
			<div class="performance_comment performance_comment_top" data-serialize="false">
				<div class="ui accordion comment_box">
					<div class="title active">
						<button class="c_add comment_action" aria-label="Discussion" title="Click to create a discussion.">Discussion (<span class="comment_count">0</span>) &nbsp;<i class="comments icon"></i></button>
					</div>
					<div class="content ">
						<div class="accordion comment_box performance_comment" performanceItemTextId="">
							<div class="title">
								<button class="c_addNew c_reply comment_action" aria-label="Add New Comment">Add Comment &nbsp;<i class="comment icon"></i></button>
							</div>
							<div class="content">
								<textarea type="text" placeholder="Comment" class="comment_text" rows="2"></textarea>
								<button class="c_save comment_action" aria-label="Save Comment">Save &nbsp;<i class="save icon"></i></button>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="performance_delete_button margin_t" align="right" style="display: none;">
				<button class="ui inverted red button performance_delete_button" id="">Delete</button>
			</div>

			<div class="performance_addExample_button margin_t" align="right" style="display: none;">
				<button class="ui inverted green button performance_addExample_button" id="">View Suggestions</button>
			</div>

		</div>
	</div>
</div>

<div id="comment_template" class="performance_comment" style="display: none;">
	<div class="c_owner"></div>
	<div class="c_timestamp"></div>
	<p class="c_text"></p>
	<div class="c_textinput" style="display: none;">
		<textarea type="text" placeholder="Comment" class="comment_text" rows="2"></textarea>
		<button class="c_save comment_action" aria-label="Save Comment">Save &nbsp;<i class="save icon"></i></button>
	</div>
	<button class="c_edit comment_action" aria-label="Edit Comment">Edit &nbsp;<i class="eraser icon"></i></button>
	<span class="hide_for_print">&nbsp;</span>
	<button class="c_delete comment_action" aria-label="Delete Comment">Delete &nbsp;<i class="trash icon"></i></button>
	<div class="accordion comment_box margin_l performance_comment" performanceItemTextId="">
		<div class="title">
			<button class="c_reply comment_action" aria-label="Reply">Reply &nbsp;<i class="comments icon"></i></button>
		</div>
		<div class="content">
			<textarea type="text" placeholder="Comment" class="comment_text" rows="2"></textarea>
			<button class="c_save comment_action" aria-label="Save Comment">Save &nbsp;<i class="save icon"></i></button>
		</div>
	</div>
	<div class="accordion comment_box margin_l performance_comment performance_comment_replies" style="display: none;">
		<div class="title plusminus"></div>
		<div class="content"></div>
	</div>
</div>

<div class="move_page_container">
	<div align="right"><button class="back-to-top"><i class="arrow up icon"></i></button></div>
</div>

<div class="ui modal suggest_modal">
	<i class="close icon"></i>
	<div class="header">
		Add a suggested goal?
	</div>
	<div class="light_blue_box">
		<form class="ui form" id="suggest_form">
			<div class="field" id="suggest_select">
				<h3 class="ui center aligned header">Select a goal from the following list of suggested goals.</h3>
				<select id="suggested_exampleId" name="suggested_exampleId" class="ui fluid search dropdown"></select>
			</div>
			<img class="ui small image centered margin_t" src="~/img/files.svg" alt="files" />
		</form>
	</div>
	<div class="actions">
		<button name="assign_example_button" id="assign_example_button" class="fluid ui inverted orange button margin_t">Assign</button>
	</div>
</div>

@section Scripts
	{
	<script>
	//var tab_titles = [];
	var sheet;
	var self;
	var done;
	var goalWeights;
	var sheetType = 'Goal';

	//Global variable for the addition of suggested goals
	var itemId;

		$(function () {
		loadLookups({
			callback: function () {
				$.ajax({
					url: '/api/performance/goalsheet/@ViewData["PerformanceGoalSheetId"]',
					success: function (data) {
						sheet = data.sheet;
						self = data.self;
						done = data.sheet.employeeComplete;
						setStatus($('body'), sheet.employeeComplete, sheet.managerComplete, sheet.leadComplete, sheet.hrComplete);
						$('#sheet_year').text(sheet.year);
						$('#sheet_due_date').text($.format.date(sheet.dueDate, 'MM/dd/yyyy'));
						$('#user_name').text(findUser(sheet.userId).name);
						$('#user_role').text(findRole(sheet.roleId).name);
						$('#user_career_ladder').text(findUser(sheet.userId).careerLadder);
						//finding practice name
						if (typeof findDivision(sheet.divisionId).parentDivisionId !== 'undefined') {
							$('.page_header_info #user_practice').parent('h3').css('display', 'block');
							$('#user_practice').text(findDivision(sheet.divisionId).name);
						}
						//finding division name
						if (typeof findDivision(sheet.divisionId).parentDivisionId !== 'undefined') {
							$('#user_division').text(findDivision(findDivision(sheet.divisionId).parentDivisionId).name);
						} else {
							$('#user_division').text(findDivision(sheet.divisionId).name);
						}
						//Fill table using data attributes from the HTML
						var item = $('.table_item');

						for (var i = 0; i < item.length; i++) {
							var pfieldName = $(item[i]).attr('data-pfield').toString();
							var divId = null;
							if (item[i].hasAttribute('data-division')) {
								if ($(item[i]).attr('data-practice') === 'true') {
									divId = item[i].hasAttribute('data-division') ? findPracticeByName($(item[i]).attr('data-division')).divisionId : null;
								}
								else {
									divId = item[i].hasAttribute('data-division') ? findDivisionByName($(item[i]).attr('data-division')).divisionId : null;
								}
							}
							var text = 'N/A';
							if (divId !== null) {
								if (typeof findDescription(divId, findFieldByYearAndName(sheet.year, pfieldName).performanceFieldId) !== "undefined") {
									text = findDescription(divId, findFieldByYearAndName(sheet.year, pfieldName).performanceFieldId).description;
								}
									item[i].textContent = text;
							} else {
								item[i].textContent = findFieldByYearAndName(sheet.year, pfieldName).description.split('Company Goal: ')[1];
							}
						};

						sheetButtons({
							self: data.self,
							supervisor: data.supervisor,
							lead: data.lead,
							administrator: data.administrator,
							employeeComplete: sheet.employeeComplete,
							managerComplete: sheet.managerComplete,
							leadComplete: sheet.leadComplete,
							hrComplete: sheet.hrComplete,
							reviewSheet: sheet.performanceReviewSheetItems,
							goalSheet: sheet.performanceGoalSheetItems,
							reviewActive: sheet.performanceReviewSheetId
						});

						buildTabs({
							tabs: sheet.performanceGoalSheetItems,
							userId: data.userId,
							divisionId: sheet.divisionId,
							self: data.self,
							supervisor: data.supervisor,
							lead: data.lead,
							administrator: data.administrator,
							sheetType: "goal",
							reviewActive: sheet.performanceReviewSheetId
						});

						
						$('body').on('click', ':button.performance_addExample_button', function (event) {
							itemId = this.id.split("_");
						});

						if (sheet.year == "2020") {
							document.getElementById("company_wide_goals_header").innerHTML = "Company Wide Goals (Revised August 2020)";
						}

						if (parseInt(sheet.year) > 2021) {
							$("[data-label=\"Practice\"]").remove();
						}

						$('body').on('click', '[data-tab=GoalsQualitative]', function (event) {
							if (!self) {
								$(':button.performance_addExample_button').hide();
								$('span.add_span').hide();
								$(':button.performance_delete_button').hide();
							}
						});

						//Timeout sessions
						if (self && !done) {
							setTimeout(function () {
								$('.refresh_warning').css('display', 'block');
							}, 2700000); //45 min mark
							setTimeout(function () {
								saveApprove(sheet, "refresh");
							}, 3300000); //55 min mark
						}
					}

				});



			}
		});

		$('.refresh_warning, .refresh_warning a').on('click', function () {
			event.preventDefault();
			$('.refresh_warning').css('display', 'none');
			saveApprove(sheet, "refresh");
		});

		$('.save_button').on('click', function (event) {
			saveApprove(sheet);
		});

		$('.expander').on('click select', function () {
			$('.sheet_sub_nav').hasClass('local_active') && $('.local_spacer').hasClass('local_active') ?
				($('.sheet_sub_nav, .local_spacer, .expander').removeClass('local_active'), $('.local_spacer').slideUp('slow')) :
				($('.sheet_sub_nav, .local_spacer, .expander').addClass('local_active'), $('.local_spacer').slideDown('slow'));
		});

		});

		var obj = { text: sheetType }
		$(function () {
			$.ajax({
				type: "POST",
				url: "/api/PerformanceFieldExamples",
				data: JSON.stringify(obj),
				dataType: "Json",
				contentType: "application/json",
				success: function (data) {
					//console.log(data)
					for (i = 0; i < data.length; i++) {
						$('#suggested_exampleId').append($('<option></option>')
							.val(data[i].performanceFieldExampleText)
							.text(data[i].performanceFieldExampleText));

					};
				}
			});
		});

		$('#assign_example_button').on('click', function (event) {
			//var example = serializeForm('#suggest_form');
			if ($('.active.selected').text() != "") {
				$('#item-' + itemId[2]).find('input[type=text],textarea,select').filter(':visible:first').val($('#suggested_exampleId').dropdown('get value'));
				$('.ui.modal.suggest_modal').modal('setting', { autofocus: false }, 10).modal('hide');
				$('#suggest_form').find(':input[name=suggested_exampleId]').dropdown('clear');
			}
			else {
				$('.ui.modal.suggest_modal').modal('setting', { autofocus: false }, 10).modal('hide');
				$('#suggest_form').find(':input[name=suggested_exampleId]').dropdown('clear');
			}
			
		});
	</script>
}
