@model dynamic

@{
	ViewBag.Title = "Community Engagement Committee";
	Layout = "_Layout";
}

<div class="ui equal width center aligned padded grid stackable relaxed">
	<h1 style="margin-top: 70px; margin-bottom: 50px;">Community Engagement Committee</h1>
</div>

<div class="ui vertical stripe segment" style="border-bottom: none">
	<div class="ui text container">

		<div class="ui raised card" style="width: auto">
			<div class="content">
				<div>
					<p>  The purpose of the Community Engagement Committee shall be to engage Alliance Transportation’s local and professional communities through charitable programs and events. </p>
				</div>
			</div>
		</div>

	</div>
</div>
<br>
<br>
<div class="ui one column centered grid">
	<div class="column centered row">
		<img src="/img/epg/communityEngagementCommittee.PNG" style="min-width: 300px;" alt="">

	</div>
</div>
