@model dynamic

@{
	ViewBag.Title = "Leadership Board";
	Layout = "_Layout";
}

<div class="ui equal width center aligned padded grid stackable relaxed">
	<h1 style="margin-top: 70px; margin-bottom: 50px;">Leadership Board</h1>
</div>

<div class="ui vertical stripe segment" style="border-bottom: none">
	<div class="ui text container">

		<div class="ui raised card" style="width: auto">
			<div class="content">
				<div>
					<p> The EPG Leadership Board (referred to as “the Board”) shall manage the business and affairs of EPG.</p>
					<p>The Board shall be comprised of three (3) classes of members: </p>
					<ol class="ui list">
						<li> Executive Team: The President, Vice President, and Secretary (hereinafter referred to as “Executive Team” or “Officers”) shall be members of the Board and entitled to vote. </li>
						<li> Committee Chairs: The Chairpersons of the Committees shall be members of the Board and entitled to vote. Committee Chairs serve on the Board only while holding their respective positions.</li>
						<li> Ex Officio: The ex officio members of the Board shall be the representatives from the Advisory Board. Ex officio members shall not be entitled to vote. Ex officio members serve on the Leadership Board only while holding their respective positions on the Advisory Board.</li>
					</ol>

				</div>
			</div>
		</div>

	</div>

	<br>
	<br>

	<div class="ui text container">

		<div class="ui raised card" style="width: auto">
			<div class="content">
				<div>
					<p> Each Board member shall be a member in good standing of EPG, have been an active participant of EPG for a minimum of one (1) year, and must have the approval of his or her manager. </p>
					<ul class="ui list">
						<li> To be eligible to be nominated for an Officer position he or she must have been an officer or committee chair.</li>
						<li> To be eligible to be nominated for a Committee Chair position, he or she must have been an officer, committee chair, or committee member.</li>
					</ul>

				</div>
			</div>
		</div>

	</div>

	<br>
	<br>

	<div class="ui text container">

		<div class="ui raised card" style="width: auto">
			<div class="content">
				<div>
					<p> Each Board member elected shall hold office for a term of one (1) year but may serve for two (2) consecutive terms in the same position with the approval of the EPG members and the Management Board. Each Board member shall hold office for the term for which he or she is elected and until a successor is elected and qualified.  </p>
					<p> A Board member may be removed by a two-thirds (2/3) majority vote of the remaining Board members for failure to attend three (3) consecutive meetings or any four (4) meetings of the Board in one (1) calendar year or upon recommendation by the Management Board.  </p>
					<p> Vacancies in the Board shall be filled by appointment made by recommendation of the Nominating Committee and approved by a majority vote of the remaining Board.  </p>
					<p>  The Board shall have the power to appoint other officers, agents, and authorized representatives as the Board may deem necessary for the transaction of the business of EPG. </p>

				</div>
			</div>
		</div>

	</div>
</div>
<br>
<br>
<br>
<br>
<br>
