@model dynamic

@{
	ViewBag.Title = "Membership Committee";
	Layout = "_Layout";
}

<div class="ui equal width center aligned padded grid stackable relaxed">
	<h1 style="margin-top: 70px; margin-bottom: 50px;">Membership Committee</h1>
</div>

<div class="ui vertical stripe segment" style="border-bottom: none">
	<div class="ui text container">

		<div class="ui raised card" style="width: auto">
			<div class="content">
				<div>
					<p>  The purpose of the Membership Committee shall be to develop and maintain the membership of EPG and ensure that each member fulfills his or her requirements for membership. </p>
				</div>
			</div>
		</div>

	</div>
</div>

<br>
<br>
<div class="ui one column centered grid">
	<div class="column centered row">
		<img src="/img/epg/membershipCommitee.PNG" style="min-width: 300px;" alt="">

	</div>
</div>
