@model dynamic

@{
	ViewBag.Title = "Oversight";
	Layout = "_Layout";
}

<div class="ui equal width center aligned padded grid stackable relaxed">
	<h1 style="margin-top: 70px; margin-bottom: 50px;">Oversight</h1>
</div>

<div class="ui vertical stripe segment" style="border-bottom: none">
	<div class="ui text container">

		<div class="ui raised card" style="width: auto">
			<div class="content">
				<div>
					<p> An Advisory Board shall provide oversight of EPG’s efforts. The Advisory Board shall meet no less than quarterly with the current Executive Team in order to review activities, programs/events and to approve new initiatives. Members of the Advisory Board shall be invited to participate in all EPG and Leadership Board activities and meetings. </p>
					<p>The Advisory Board shall consist of representatives from </p>
					<ul class="ui list">
						<li> Human Resources</li>
						<li> Department Managers</li>
						<li> EPG Alumni</li>
						<li> Executive Team Members </li>
					</ul>

					<p> Each representative from the Advisory Board shall serve for a term of one (1) year. </p>
					<p> It shall be the responsibility of the EPG Board to recruit the members of the Advisory Board. Final approval of Advisory Board members lies with the ATG management team.</p>

				</div>
			</div>
		</div>

	</div>
</div>
