@model dynamic

@{
	ViewBag.Title = "Secretary";
	Layout = "_Layout";
}

<div class="ui equal width center aligned padded grid stackable relaxed">
	<h1 style="margin-top: 70px; margin-bottom: 50px;">Secretary</h1>
</div>

<div class="ui vertical stripe segment" style="border-bottom: none">
	<div class="ui text container">

		<div class="ui raised card" style="width: auto">
			<div class="content">
				<div>
					<p>  The Secretary shall be elected by majority vote by the EPG membership. </p>
					<p> The Secretary should attend all meetings of the members and of the Leadership Board, and of the Advisory Board, and shall make record of all of the proceedings.   </p>
					<p>	 He or she shall give all communications required by the Board and shall perform any other duties as may be delegated by the Leadership Board.   </p>
					<p> In the Secretary’s absence, the duty of minutes taking may be delegated by the President  </p>
				</div>
			</div>
		</div>

	</div>
</div>

<br>
<br>
<div class="ui one column centered grid">
	<div class="column centered row">
		<img src="/img/epg/secretary.PNG" style="min-width: 300px;" alt="">

	</div>
</div>
