@model dynamic

@{
	ViewBag.Title = "Vice President";
	Layout = "_Layout";
}


<div class="ui equal width center aligned padded grid stackable relaxed">
	<h1 style="margin-top: 70px; margin-bottom: 50px;">Vice President</h1>
</div>

<div class="ui vertical stripe segment" style="border-bottom: none">
	<div class="ui text container">

		<div class="ui raised card" style="width: auto">
			<div class="content">
				<div>
					<p> The Vice President shall be elected by majority vote by the EPG membership. </p>
					<p> The Vice President shall help in all administrative duties and performs the duties of the President in their absence. </p>
				</div>
			</div>
		</div>


	</div>
</div>
<br>
<br>
<div class="ui one column centered grid">
	<div class="column centered row">
		<img src="/img/epg/vicePresident.PNG" style="min-width: 300px;" alt="">

	</div>
</div>
