@model dynamic

@{
	ViewBag.Title = "HR Administrative Ladder";
	Layout = "_Layout";
}

<div class="ui equal width center aligned padded grid stackable relaxed">
	<div class="row " style=" margin-bottom: 25px;  margin-left: 10px; margin-right: 10px; ">
		<h1 style="margin-top: 50px;" class="centered ">HR Administrative Ladder </h1>
	</div>

	<h4 class="ui horizontal divider header">
		A-1
	</h4>

	<div class="ui three stackable  cards" style="margin-top: 35px;">

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-1 </div>

				<div class="header">Typical Titles </div>

				<div class="description">
					<div class="item" style="margin-bottom: 10px;">
						Office Assistant,
						Intern,
						File Clerk
					</div>
				</div>

				<div class="header">FLSA Status </div>
				<div class="meta" style="margin-bottom: 10px;">Non-Exempt </div>

			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-1 </div>

				<div class="header">
					General
					Characteristics
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							Works part-time or on a temporary basis.
							Performs routine tasks as assigned.
							Demonstrates specific skills as job
							requires.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-1 </div>

				<div class="header">
					Responsible for
					Directing
					Others/Direction
					Received
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							Work methods and tasks are outlined in
							detail by supervisor. Finished tasks are
							reviewed for compliance.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-1 </div>

				<div class="header">
					Typical Duties
					And
					Responsibilities
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							Performs miscellaneous duties in
							accordance with established procedures
							outlined by supervisor.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-1 </div>

				<div class="header">
					Education
					Experience
					Registration
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							No requirements.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-1 </div>

				<div class="header">
					Typical Abilities
					and
					Attainments
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							Ability to follow directions explicitly.
							Familiar with established firm policies and
							procedures related to job duties.
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>

<br>
<br>

<div class="ui equal width center aligned padded grid stackable relaxed">
	<div class="row"></div>

	<h4 class="ui horizontal divider header">
		A-2
	</h4>

	<div class="row"> </div>
	<div class="ui three stackable  cards" style="margin-top: 35px;">

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-2 </div>

				<div class="header">Typical Titles </div>

				<div class="description">
					<div class="item" style="margin-bottom: 10px;">
						Office Assistant,
						Intern,
						File Clerk,
						Accounting/HR/IS/Marketing Assistant
					</div>
				</div>

				<div class="header">FLSA Status </div>
				<div class="meta" style="margin-bottom: 10px;">Non-Exempt </div>

			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-2 </div>

				<div class="header">
					General
					Characteristics
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							Works part-time or on a temporary basis.
							Performs routine tasks as assigned.
							Demonstrates specific skills as job
							requires.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-2 </div>

				<div class="header">
					Responsible for
					Directing
					Others/Direction
					Received
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							Work assignments are designated by
							supervisor. Finished tasks are reviewed for
							compliance.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-2 </div>

				<div class="header">
					Typical Duties
					And
					Responsibilities
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							Performs miscellaneous duties in
							accordance with established procedures
							outlined by supervisor.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-2 </div>

				<div class="header">
					Education
					Experience
					Registration
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							High school diploma or equivalent.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-2 </div>

				<div class="header">
					Typical Abilities
					and
					Attainments
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							Ability to follow directions explicitly.
							Familiar with established firm policies and
							procedures related to job duties.
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>

<br>
<br>

<div class="ui equal width center aligned padded grid stackable relaxed">
	<div class="row"></div>

	<h4 class="ui horizontal divider header">
		A-3
	</h4>

	<div class="row"> </div>
	<div class="ui three stackable  cards" style="margin-top: 35px;">

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-3 </div>

				<div class="header">Typical Titles </div>

				<div class="description">
					<div class="item" style="margin-bottom: 10px;">
						Office/Administrative Assistant,
						Accounting/HR/IS/Marketing Assistant,
						IS Technician,
						Receptionist
					</div>
				</div>

				<div class="header">FLSA Status </div>
				<div class="meta" style="margin-bottom: 10px;">Non-Exempt </div>

			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-3 </div>

				<div class="header">
					General
					Characteristics
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							Performs some non-standardized work,
							with oversight upon completion. Performs
							duties under general supervision, using
							sound judgment. Able to operate
							appropriate office and computer equipment
							and appropriate software. Demonstrates
							knowledge of firm policies and procedures.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-3 </div>

				<div class="header">
					Responsible for
					Directing
					Others/Direction
					Received
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							Receives initial instructions from
							supervisor. May be assisted by others.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-3 </div>

				<div class="header">
					Typical Duties
					And
					Responsibilities
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							Performs specific duties as outlined in
							detail by immediate supervisor. Must
							exercise initiative, judgment and
							knowledge in area of expertise. Schedules
							work assignments based upon deadlines
							established by supervisor.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-3 </div>

				<div class="header">
					Education
					Experience
					Registration
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							High school diploma or equivalent,
							Associates Degree or Bachelor’s Degree.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-3 </div>

				<div class="header">
					Typical Abilities
					and
					Attainments
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							Sufficient knowledge of firm operations to
							perform assigned tasks. Good
							communication skills. Ability to operate
							appropriate office and computer equipment
							and appropriate software.
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>

<br>
<br>

<div class="ui equal width center aligned padded grid stackable relaxed">
	<div class="row"></div>

	<h4 class="ui horizontal divider header">
		A-4
	</h4>

	<div class="row"> </div>
	<div class="ui three stackable  cards" style="margin-top: 35px;">

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-4 </div>

				<div class="header">Typical Titles </div>

				<div class="description">
					<div class="item" style="margin-bottom: 10px;">
						Office/Administrative Assistant,
						Accounting/HR/IS/Marketing Assistant,
						IS Technician,
						Receptionist
					</div>
				</div>

				<div class="header">FLSA Status </div>
				<div class="meta" style="margin-bottom: 10px;">Non-Exempt </div>

			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-4 </div>

				<div class="header">
					General
					Characteristics
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							Performs work of some complexity.
							Demonstrates ability to act
							independently with a high level of
							knowledge of firm organization and
							business. Able to complete a broad
							scope of assignments under general
							supervision in area of specialization.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-4 </div>

				<div class="header">
					Responsible for
					Directing
					Others/Direction
					Received
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							Requires assistance only on unusual
							problems. Receives general
							supervision. Minimal direction given.
							May coordinate and supervise work of
							others.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-4 </div>

				<div class="header">
					Typical Duties
					And
					Responsibilities
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							Performs various duties of a
							difficult/complex nature. May involve
							analysis of reports and recommended
							actions.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-4 </div>

				<div class="header">
					Education
					Experience
					Registration
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							High school diploma or equivalent, plus
							4 or more years of relevant experience.
							Associates degree plus 3 or more years
							of relevant experience. Bachelor’s
							degree plus 1 or more years of relevant
							experience.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-4 </div>

				<div class="header">
					Typical Abilities
					and
					Attainments
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							Sufficient knowledge of firm operations
							perform assigned tasks. Good
							communication skills. Ability to operate
							appropriate office and computer
							equipment and appropriate software.
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>

<br>
<br>

<div class="ui equal width center aligned padded grid stackable relaxed">
	<div class="row"></div>

	<h4 class="ui horizontal divider header">
		A-5
	</h4>

	<div class="row"> </div>
	<div class="ui three stackable  cards" style="margin-top: 35px;">

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-5 </div>

				<div class="header">Typical Titles </div>

				<div class="description">
					<div class="item" style="margin-bottom: 10px;">
						Administrative Assistant,
						Accounting/HR/IS/Marketing Assistant,
						IS Technician,
						Receptionist
					</div>
				</div>

				<div class="header">FLSA Status </div>
				<div class="meta" style="margin-bottom: 10px;">Exempt </div>

			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-5 </div>

				<div class="header">
					General
					Characteristics
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							Performs assignments with little or no
							direction. Has high level of experience and
							broad knowledge of corporate structure
							and business. May demonstrate specific
							skills, depending upon specialization. Able
							to establish systems/ procedures. May
							coordinate and train staff in production
							techniques and equipment operation.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-5 </div>

				<div class="header">
					Responsible for
					Directing
					Others/Direction
					Received
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							Performs most assignments independently.
							Operates with latitude for independent
							judgment and initiative. Coordinates,
							directs , and trains staff.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-5 </div>

				<div class="header">
					Typical Duties
					And
					Responsibilities
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							Recommends and implements action.
							Performs various duties of a difficult or
							complex nature. Work may involve
							assigned analysis with recommended
							actions. Able to operate complex office
							and computer equipment and appropriate
							software Responsible for developing and
							meeting schedules.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-5 </div>

				<div class="header">
					Education
					Experience
					Registration
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							High school diploma or equivalent, plus 8
							or more years of relevant experience.
							Associates degree plus 6 or more years of
							relevant experience. Bachelor’s degree
							plus 3 or more years of relevant
							experience.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-5 </div>

				<div class="header">
					Typical Abilities
					and
					Attainments
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							Excellent organizational and interpersonal
							communications skills. Thorough
							familiarity with firm practices, policies and
							procedures.
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>

<br>
<br>

<div class="ui equal width center aligned padded grid stackable relaxed">
	<div class="row"></div>

	<h4 class="ui horizontal divider header">
		A-6
	</h4>

	<div class="row"> </div>
	<div class="ui three stackable  cards" style="margin-top: 35px;">

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-6 </div>

				<div class="header">Typical Titles </div>

				<div class="description">
					<div class="item" style="margin-bottom: 10px;">
						Administrative Assistant,
						Accounting/HR/IS/Marketing Assistant,
						IS Technician,
						Receptionist
					</div>
				</div>

				<div class="header">FLSA Status </div>
				<div class="meta" style="margin-bottom: 10px;">Exempt </div>

			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-6 </div>

				<div class="header">
					General
					Characteristics
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							Performs assignments with little or no direction
							Demonstrates highest level of competence and
							decision making abilities. Able to
							develop/implement procedures for completing
							tasks. Establishes systems/procedures for
							operations. Exercises high level of tact, discretion
							and confidentiality.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-6 </div>

				<div class="header">
					Responsible for
					Directing
					Others/Direction
					Received
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							Receives general guidance, but operates
							independently. Coordinates, directs , and trains
							staff.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-6 </div>

				<div class="header">
					Typical Duties
					And
					Responsibilities
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							Analyzes data and independently implements
							policies and procedures. May be responsible for
							developing reports and monitoring and
							maintaining budgets.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-6 </div>

				<div class="header">
					Education
					Experience
					Registration
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							High school diploma or equivalent, plus 12 or
							more years of relevant experience. Associates
							degree plus 9 or more years of relevant
							experience. Bachelor’s degree plus 6 or more
							years of relevant experience.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">A-6 </div>

				<div class="header">
					Typical Abilities
					and
					Attainments
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>1
							Strong management capabilities and ability to
							deal with people at various levels in the firm.
							Comprehensive understanding of the firm's work
							product. Ability to work within established
							deadlines and budgets. Outstanding
							communication skills.
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>

<br>
<p>This career ladder is a general guide only. All employment classifications will be based on individual circumstances</p>
<br>
<br>
<br>
