@model dynamic

@{
	ViewBag.Title = "Business  Practice Ladder";
	Layout = "_Layout";
}
<div class="ui equal width center aligned padded grid stackable relaxed">
	<div class="row " style=" margin-bottom: 25px;  margin-left: 10px; margin-right: 10px; ">
		<h1 style="margin-top: 50px;" class="centered ">HR Business Ladder </h1>
	</div>

	<h4 class="ui horizontal divider header">
		B-0
	</h4>

	<div class="ui three stackable  cards" style="margin-top: 35px;">

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-0 </div>

				<div class="header">Typical Titles </div>

				<div class="description">
					<div class="item" style="margin-bottom: 10px;">
						Those “in-training” in the following roles:
						Marketing Coordinator,
						Graphic Designer,
						Project Accountant,
						HR Analyst,
						ITAnalyst
					</div>
				</div>

				<div class="header">FLSA Status </div>
				<div class="meta" style="margin-bottom: 10px;">Non-Exempt </div>

			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-0 </div>

				<div class="header">
					General
					Characteristics
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Is in training as an entry level professional in a field such as
							marketing, accounting, HR, IT, etc.
						</div>
						<div class="item">
							Involved in assignments that develop skills and abilities in
							business practice area.
						</div>
						<div class="item">
							Begins to develop professional judgment as independent
							discretion is exercised.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-0 </div>

				<div class="header">
					Responsible for
					Directing
					Others/Direction
					Received
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Works under close supervision with supervisor or other senior
							professionals and receives direction on tasks assigned.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-0 </div>

				<div class="header">
					Typical Duties
					And
					Responsibilities
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Gathers and maintains information related to business practice
							area.
						</div>
						<div class="item">
							Works in a wide range of areas within business practice
						</div>
						<div class="item">
							Often fulfills a support or administrative role for a more senior
							professional within their specialty.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-0 </div>

				<div class="header">
					Education
					Experience
					Registration
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div >
							Requires bachelor’s degree and 0-12
							months of experience.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-0 </div>

				<div class="header">
					Typical Abilities
					and
					Attainments
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Training position with reclassification to B1 expected within 12
							months.
						</div>
						<div class="item">
							The B-0 training period should prepare the individual to meet
							the expectations of the B-1 career ladder description.
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>

<br>
<br>

<div class="ui equal width center aligned padded grid stackable relaxed">
	<div class="row"></div>

	<h4 class="ui horizontal divider header">
		B-1
	</h4>

	<div class="row"> </div>
	<div class="ui three stackable  cards" style="margin-top: 35px;">

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-1 </div>

				<div class="header">Typical Titles </div>

				<div class="description">
					<div class="item" style="margin-bottom: 10px;">
						Marketing Coordinator,
						Graphic Designer,
						Project Accountant,
						HR Analyst,
						IT Analyst,
					</div>
				</div>

				<div class="header">FLSA Status </div>
				<div class="meta" style="margin-bottom: 10px;">Exempt </div>

			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-1 </div>

				<div class="header">
					General
					Characteristics
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Entry level professional in a field such as marketing,
							accounting, HR, IT.
						</div>
						<div class="item">
							Involved in assignments that continue to develop abilities in
							business practice area.
						</div>
						<div class="item">
							Makes independent decisions, demonstrating sound decisions
							about assigned areas of responsibility.
						</div>
						<div class="item">
							Demonstrates ability to serve internal and external clients
							independently.
						</div>
						<div class="item">
							Able to effectively research and resolve issues.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-1 </div>

				<div class="header">
					Responsible for
					Directing
					Others/Direction
					Received
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Receives general supervision and direction on new
							aspects of job.
						</div>
						<div class="item">
							Shows ability to make independent decisions in
							important matters.
						</div>
						<div class="item">
							Works independently on projects and daily
							responsibilities.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-1 </div>

				<div class="header">
					Typical Duties
					And
					Responsibilities
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Gathers and maintains information related to business
							practice area.
						</div>
						<div class="item">
							Works in a wide range of areas within business practice
							area.
						</div>
						<div class="item">
							Takes on increasing responsibility and shows an ability
							to contribute with creative problem solving.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-1 </div>

				<div class="header">
					Education
					Experience
					Registration
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							0 to 2 years of experience, Bachelor’s Degree with relevant course
							content, and ability to use discretion and independent judgment
							while performing position responsibilities.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-1 </div>

				<div class="header">
					Typical Abilities
					and
					Attainments
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Demonstrates willingness to accept new challenges and learn
							specialized field.
						</div>
						<div class="item">
							Continues on-the-job training.
						</div>
						<div class="item">
							Growing knowledge of business practice area as demonstrated
							by involvement in related professional organizations,
							professional development programs, or other training.
						</div>
						<div class="item">
							Meets agreed-upon deadlines and commitments.
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>

<br>
<br>

<div class="ui equal width center aligned padded grid stackable relaxed">
	<div class="row"></div>

	<h4 class="ui horizontal divider header">
		B-2
	</h4>

	<div class="row"> </div>
	<div class="ui three stackable  cards" style="margin-top: 35px;">

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-2 </div>

				<div class="header">Typical Titles </div>

				<div class="description">
					<div class="item" style="margin-bottom: 10px;">
						Marketing Coordinator,
						Graphic Designer,
						Project Accountant,
						HR Analyst,
						IT Analyst,
					</div>
				</div>

				<div class="header">FLSA Status </div>
				<div class="meta" style="margin-bottom: 10px;">Exempt </div>

			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-2 </div>

				<div class="header">
					General
					Characteristics
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Acts with increasing independence on new elements of job.
						</div>
						<div class="item">
							May assume responsibility for significant tasks.
						</div>
						<div class="item">
							Exercises an increased amount of professional judgment while
							taking on increasingly more complex assignments.
						</div>
						<div class="item">
							Performs extra effort to get the job done.
						</div>
						<div class="item">
							Increasingly assists team members with more complex or timeconsuming tasks.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-2 </div>

				<div class="header">
					Responsible for
					Directing
					Others/Direction
					Received
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Increasingly assists team members with more complex or timeconsuming tasks.
						</div>
						<div class="item">
							May coordinate work of others or delegate tasks on specific assignments.
						</div>
						<div class="item">
							May take the lead on a project team.
						</div>
						<div class="item">
							May train others on procedures related to specialty area.
						</div>
						<div class="item">
							Helps train new hires in basic tasks
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-2 </div>

				<div class="header">
					Typical Duties
					And
					Responsibilities
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Independently responsible for various elements of job
						</div>
						<div class="item">
							Supports internal and/or external clients and others in specialty in
							completing assignments and activities.
						</div>
						<div class="item">
							Recognizes errors and works to correct these independently.
						</div>
						<div class="item">
							Follows firm procedures for specialty.
						</div>
						<div class="item">
							May instruct others on procedures.
						</div>
						<div class="item">
							Meets commitments.
						</div>
						<div class="item">
							Adheres to a plan and updates supervisor on progress
						</div>
						<div class="item">
							Offers suggestions to improve processes.
						</div>
						<div class="item">
							Proactively seeks to improve skills to benefit self
						</div>
						<div class="item">
							Provides QC on basic tasks.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-2 </div>

				<div class="header">
					Education
					Experience
					Registration
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							Bachelor’s degree with relevant course content and at least 2 years
							experience or relevant Master’s degree.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-2 </div>

				<div class="header">
					Typical Abilities
					and
					Attainments
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Good oral and written communication skills; good sense of business
							practice area.
						</div>
						<div class="item">
							Continues on-the-job training and/or outside seminars.
						</div>
						<div class="item">
							Continues involvement in professional organizations, professional
							development programs, or other training to grow knowledge of business
							practice area.
						</div>
						<div class="item">
							Communicates clearly and effectively in one-on-one settings
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<br>
<br>

<div class="ui equal width center aligned padded grid stackable relaxed">
<div class="row"></div>

<h4 class="ui horizontal divider header">
	B-3
</h4>

<div class="row"> </div>
<div class="ui three stackable  cards" style="margin-top: 35px;">

<div class="ui raised link card blue">
	<div class="content">
		<div class="ui top left attached label">B-3 </div>

		<div class="header">Typical Titles </div>

		<div class="description">
			<div class="item" style="margin-bottom: 10px;">
				Marketing Coordinator,
				Graphic Designer,
				Project Accountant,
				HR Analyst,
				IT Analyst
			</div>
		</div>

		<div class="header">FLSA Status </div>
		<div class="meta" style="margin-bottom: 10px;">Exempt </div>

	</div>
</div>

<div class="ui raised link card blue">
	<div class="content">
		<div class="ui top left attached label">B-3 </div>

		<div class="header">
			General
			Characteristics
		</div>

		<div class="description">
			<div class="ui bulleted list">
				<div class="item">
					Demonstrates professionalism and experience.
				</div>
				<div class="item">
					Independently evaluates, selects, and applies standard techniques, procedures, and criteria.
				</div>
				<div class="item">
					Able to devise new approaches to problems encountered.
				</div>
				<div class="item">
					Realizes better efficiency in most tasks.
				</div>
				<div class="item">
					Performs extra effort to get the job done.
				</div>
				<div class="item">
					Proactively identifies when team members need help and assists accordingly
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ui raised link card blue">
	<div class="content">
		<div class="ui top left attached label">B-3 </div>

		<div class="header">
			Responsible for
			Directing
			Others/Direction
			Received
		</div>

		<div class="description">
			<div class="ui bulleted list">
				<div class="item">
					Independently performs most assignments.
				</div>
				<div class="item">
					Receives supervision on difficult elements of job.
				</div>
				<div class="item">
					May supervise others.
				</div>
				<div class="item">
					Supports and encourages others to higher performance
				</div>
				<div class="item">
					Begins to assert self as leader in group
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ui raised link card blue">
	<div class="content">
		<div class="ui top left attached label">B-3 </div>

		<div class="header">
			Typical Duties
			And
			Responsibilities
		</div>

		<div class="description">
			<div class="ui bulleted list">
				<div class="item">
					Plans and schedules detailed phases of work.
				</div>
				<div class="item">
					Takes on more complicated projects, and consistently applies company policies and/or procedures
				</div>
				<div class="item">
					Begins reporting activities of specialty.
				</div>
				<div class="item">
					May select or recommend procedures or practices based on precedent
				</div>
				<div class="item">
					Serves internal or external clients independently.
				</div>
				<div class="item">
					Establishes clear expectations with the assistance of his/her manager
					and meets commitments.
				</div>
				<div class="item">
					Offers suggestions to improve and implement processes.
				</div>
				<div class="item">
					Proactively seeks to improve skills to benefit self and team
				</div>
				<div class="item">
					Assists others in brainstorming solutions to challenges
				</div>
				<div class="item">
					Provides QC on detailed tasks.
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ui raised link card blue">
	<div class="content">
		<div class="ui top left attached label">B-3 </div>

		<div class="header">
			Education
			Experience
			Registration
		</div>

		<div class="description">
			<div class="ui bulleted list">
				<div>
					Bachelor’s degree, plus 3 or more years of relevant experience or Master’s degree, plus 2 or more
					years of relevant experience.
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ui raised link card blue">
	<div class="content">
		<div class="ui top left attached label">B-3 </div>

		<div class="header">
			Typical Abilities
			and
			Attainments
		</div>

		<div class="description">
			<div class="ui bulleted list">
				<div class="item">
					Ability to deal effectively with people at all levels.
				</div>
				<div class="item">
					Demonstrates emerging leadership skills.
				</div>
				<div class="item">
					Comprehensive understanding of business practice area.
				</div>
				<div class="item">
					Continues involvement in professional organizations, professional development programs, or other
					training to grow knowledge of business practice area.
				</div>
				<div class="item">
					Meets deadlines and commitments and may hold others accountable to do so
				</div>
				<div class="item">
					Diplomatically expresses opinions and concerns.
				</div>
				<div class="item">
					Persuades others to their point of view and can build consensus on how to approach basic issues.
				</div>
				<div class="item">
					Prioritizes and manages own workload.
				</div>
			</div>
		</div>
	</div>
</div>

</div>
</div>

<br>
<br>

<div class="ui equal width center aligned padded grid stackable relaxed">
<div class="row"></div>

<h4 class="ui horizontal divider header">
	B-4
</h4>

<div class="row"> </div>
<div class="ui three stackable  cards" style="margin-top: 35px;">

<div class="ui raised link card blue">
	<div class="content">
		<div class="ui top left attached label">B-4 </div>

		<div class="header">Typical Titles </div>

		<div class="description">
			<div class="item" style="margin-bottom: 10px;">
				Marketing Coordinator,
				Graphic Designer,
				Accounting Manager,
				Project Accountant,
				IT Analyst,
				HR Generalist
			</div>
		</div>

		<div class="header">FLSA Status </div>
		<div class="meta" style="margin-bottom: 10px;">Exempt </div>

	</div>
</div>

<div class="ui raised link card blue">
	<div class="content">
		<div class="ui top left attached label">B-4 </div>

		<div class="header">
			General
			Characteristics
		</div>

		<div class="description">
			<div class="ui bulleted list">
				<div class="item">
					Has significant experience in business practice area.
				</div>
				<div class="item">
					Demonstrates proficiency in all conventional aspects of business practice area.
				</div>
				<div class="item">
					Devises new and alternative approaches and solutions to problems.
				</div>
				<div class="item">
					Works on technically difficult problems.
				</div>
				<div class="item">
					May be responsible for budget or people management
				</div>
				<div class="item">
					Maintains a high standard for maximum efficiency in most tasks.
				</div>
				<div class="item">
					Performs extra effort to get the job done
				</div>
				<div class="item">
					Consistently produces high quality products in all aspects of job.
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ui raised link card blue">
	<div class="content">
		<div class="ui top left attached label">B-4 </div>

		<div class="header">
			Responsible for
			Directing
			Others/Direction
			Received
		</div>

		<div class="description">
			<div class="ui bulleted list">
				<div class="item">
					Receives supervision and guidance related to critical issues and new concepts, but with increasing independence.
				</div>
				<div class="item">
					May supervise and review work of others.
				</div>
				<div class="item">
					Supports and coaches others to higher performance
				</div>
				<div class="item">
					Asserts self as leader in group
				</div>
				<div class="item">
					Responsible for training others in basic to intermediate tasks
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ui raised link card blue">
	<div class="content">
		<div class="ui top left attached label">B-4 </div>

		<div class="header">
			Typical Duties
			And
			Responsibilities
		</div>

		<div class="description">
			<div class="ui bulleted list">
				<div class="item">
					Plans, schedules, conducts or coordinates programs or projects within business practice area.
				</div>
				<div class="item">
					Likely to oversee the work of others.
				</div>
				<div class="item">
					Responsible for reporting overall activity within group and resolving critical issues.
				</div>
				<div class="item">
					Able to develop programs to address internal and/or external client needs.
				</div>
				<div class="item">
					Assumes leadership role on projects or tasks
				</div>
				<div class="item">
					Establishes clear expectations and meets commitments.
				</div>
				<div class="item">
					Adheres to a plan and updates supervisor and team regularly
				</div>
				<div class="item">
					Offers suggestions and successfully implements new processes.
				</div>
				<div class="item">
					Proactively seeks to improve skills to benefit self, team and firm
				</div>
				<div class="item">
					Assists others in brainstorming solutions to challenges and helps to implement change
				</div>
				<div class="item">
					Provides QC on high-level, complicated tasks.
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ui raised link card blue">
	<div class="content">
		<div class="ui top left attached label">B-4 </div>

		<div class="header">
			Education
			Experience
			Registration
		</div>

		<div class="description">
			<div class="ui bulleted list">
				<div>
					Bachelor’s degree, plus 5 or more years of relevant experience or Master’s degree plus 4 or more years of relevant experience.
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ui raised link card blue">
	<div class="content">
		<div class="ui top left attached label">B-4 </div>

		<div class="header">
			Typical Abilities
			and
			Attainments
		</div>

		<div class="description">
			<div class="ui bulleted list">
				<div class="item">
					Good presentation skills, ability to coach and motivate others.
				</div>
				<div class="item">
					Viewed as a leader in technical aspects of field.
				</div>
				<div class="item">
					Demonstrated leadership skills and ability to think strategically
				</div>
				<div class="item">
					Demonstrated high level of competency in business practice area, project management, professional development, client service and leadership.
				</div>
				<div class="item">
					Significant contribution to the business practice area, region or firm.
				</div>
				<div class="item">
					Meets deadlines and commitments and holds team accountable for team deadlines.
				</div>
				<div class="item">
					Communicates clearly and effectively in one-on-one and in group settings
				</div>
				<div class="item">
					Diplomatically expresses opinions and concerns and suggests ideas to improve.
				</div>
				<div class="item">
					Persuades others to their point of view and can build consensus on how to approach issues that are of intermediate complexity.
				</div>
				<div class="item">
					Prioritizes and manages own workload and may manage workload of others.
				</div>
			</div>
		</div>
	</div>
</div>

</div>
</div>

<br>
<br>

<div class="ui equal width center aligned padded grid stackable relaxed">
<div class="row"></div>

<h4 class="ui horizontal divider header">
	B-5
</h4>

<div class="row"> </div>
<div class="ui three stackable  cards" style="margin-top: 35px;">

	<div class="ui raised link card blue">
		<div class="content">
			<div class="ui top left attached label">B-5 </div>

			<div class="header">Typical Titles </div>

			<div class="description">
				<div class="item" style="margin-bottom: 10px;">
					Senior level professionals in HR, IT, Marketing and Accounting.
					Department Managers
				</div>
			</div>

			<div class="header">FLSA Status </div>
			<div class="meta" style="margin-bottom: 10px;">Exempt </div>

		</div>
	</div>

	<div class="ui raised link card blue">
		<div class="content">
			<div class="ui top left attached label">B-5 </div>

			<div class="header">
				General
				Characteristics
			</div>

			<div class="description">
				<div class="ui bulleted list">
					<div class="item">
						Applies diversified knowledge on range of projects.
					</div>
					<div class="item">
						Leads teams to complete tasks.
					</div>
					<div class="item">
						Performs work requiring advanced techniques.
					</div>
					<div class="item">
						Makes decisions independently on problems and methods.
					</div>
					<div class="item">
						Likely to be responsible for budget management.
					</div>
					<div class="item">
						Demonstrates company’s Core Values in behaviors and job performance; leads by example.
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="ui raised link card blue">
		<div class="content">
			<div class="ui top left attached label">B-5 </div>

			<div class="header">
				Responsible for
				Directing
				Others/Direction
				Received
			</div>

			<div class="description">
				<div class="ui bulleted list">
					<div class="item">
						Receives supervision and guidance relating to overall objectives, critical issues and new
						concepts, but otherwise performs independently.
					</div>
					<div class="item">
						Supervises and coordinates work of staff.
					</div>
					<div class="item">
						Increasing responsibility for the region’s or firm’s operation
					</div>
					<div class="item">
						Supports, coaches and mentors others to higher performance
					</div>
					<div class="item">
						Asserts self as leader in group and achieves results through others
					</div>
					<div class="item">
						Trains new hires in basic through advanced tasks
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="ui raised link card blue">
		<div class="content">
			<div class="ui top left attached label">B-5 </div>

			<div class="header">
				Typical Duties
				And
				Responsibilities
			</div>

			<div class="description">
				<div class="ui bulleted list">
					<div class="item">
						Deals with strategic or managerial objectives or issues.
					</div>
					<div class="item">
						Helps establish strategic vision for business practice area.
					</div>
					<div class="item">
						Effective in teaching and sharing knowledge related to business practice area with others.
					</div>
					<div class="item">
						Effectively manages programs or people to achieve desired results
					</div>
					<div class="item">
						Adheres to a plan and updates partners to keep team operating efficiently.
					</div>
					<div class="item">
						Assists others in brainstorming solutions to challenges and facilitates change.
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="ui raised link card blue">
		<div class="content">
			<div class="ui top left attached label">B-5 </div>

			<div class="header">
				Education
				Experience
				Registration
			</div>

			<div class="description">
				<div class="ui bulleted list">
					<div>
						Bachelor’s or Master’s degree, plus 7 or more years of relevant experience.
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="ui raised link card blue">
		<div class="content">
			<div class="ui top left attached label">B-5 </div>

			<div class="header">
				Typical Abilities
				and
				Attainments
			</div>

			<div class="description">
				<div class="ui bulleted list">
					<div class="item">
						Strong interpersonal skills, ability to lead and manage others and effectively manage strategic
						issues.
					</div>
					<div class="item">
						Ability to take leadership role in projects that impact the firm, not just the region or
						department.
					</div>
					<div class="item">
						Leadership roles in professional organizations.
					</div>
					<div class="item">
						Continued professional development activities.
					</div>
					<div class="item">
						Communicates clearly, effectively and constructively in one-on-one and in group settings.
					</div>
					<div class="item">
						Diplomatically expresses opinions and concerns and asserts ideas to improve.
					</div>
					<div class="item">
						Persuades others to their point of view and can build consensus on how to approach complex
						issues.
					</div>
					<div class="item">
						Prioritizes and manages own workload and likely manages workload of others and group
						priorities.
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
</div>

<br>
<br>

<div class="ui equal width center aligned padded grid stackable relaxed">
	<div class="row"></div>

	<h4 class="ui horizontal divider header">
		B-6
	</h4>

	<div class="row"> </div>
	<div class="ui three stackable  cards" style="margin-top: 35px;">

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-6 </div>

				<div class="header">Typical Titles </div>

				<div class="description">
					<div class="item" style="margin-bottom: 10px;">
						Senior level professionals in HR, IT, Marketing and Accounting.
						Department Managers
					</div>
				</div>

				<div class="header">FLSA Status </div>
				<div class="meta" style="margin-bottom: 10px;">Exempt </div>

			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-6 </div>

				<div class="header">
					General
					Characteristics
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Applies professional expertise with significant regional or firm
							wide management responsibilities.
						</div>
						<div class="item">
							Leads teams to complete tasks with unique or complex problems.
						</div>
						<div class="item">
							Demonstrates company’s Core Values in behaviors and job
							performance; leads by example.
						</div>
						<div class="item">
							Likely to be responsible for results of department, division, region
							or firm.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-6 </div>

				<div class="header">
					Responsible for
					Directing
					Others/Direction
					Received
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Plans and supervises work of staff. Consults with supervisor for
							guidance on overall objectives, critical issues or new concepts.
						</div>
						<div class="item">
							Increasing responsibility for the region’s or firm’s operation.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-6 </div>

				<div class="header">
					Typical Duties
					And
					Responsibilities
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Develops and oversees key programs within specialty for region
							and firm.
						</div>
						<div class="item">
							Works to make sure that the specialty area’s goals are met.
						</div>
						<div class="item">
							Effectively manages programs or people to achieve desired
							results.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-6 </div>

				<div class="header">
					Education
					Experience
					Registration
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							Bachelor’s or Master’s degree, plus 9 or more years of relevant
							experience.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-6 </div>

				<div class="header">
					Typical Abilities
					and
					Attainments
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Ability to make independent, clear and concise strategic decisions
							based on company policy and firm culture and philosophy.
						</div>
						<div class="item">
							May speak at professional organizations.
						</div>
						<div class="item">
							Reputation as a leader in business practice area. Strong
							understanding of the business.
						</div>
						<div class="item">
							Excellent judgment in handling and solving complex issues
							requiring strategic thought and analysis.
						</div>
						<div class="item">
							Ability to apply professional and technical expertise to benefit the
							firm.
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<br>
<br>

<div class="ui equal width center aligned padded grid stackable relaxed">
	<div class="row"></div>

	<h4 class="ui horizontal divider header">
		B-7
	</h4>

	<div class="row"> </div>
	<div class="ui three stackable  cards" style="margin-top: 35px;">

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-7 </div>

				<div class="header">Typical Titles </div>

				<div class="description">
					<div class="item" style="margin-bottom: 10px;">
						Senior level professionals in HR, IT, Marketing and Accounting.
						Department Managers or Directors
					</div>
				</div>

				<div class="header">FLSA Status </div>
				<div class="meta" style="margin-bottom: 10px;">Exempt </div>

			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-7 </div>

				<div class="header">
					General
					Characteristics
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Has extensive experience and significant regional or firm wide
							management responsibilities.
						</div>
						<div class="item">
							Makes important strategic and managerial decisions that
							significantly affect the firm’s activities.
						</div>
						<div class="item">
							Determines program objectives/goals or requirements
						</div>
						<div class="item">
							Manages diverse professional assignments.
						</div>
						<div class="item">
							Conducts complex assignments without assistance.
						</div>
						<div class="item">
							Demonstrates company’s Core Values in behaviors and job
							performance; leads by example.
						</div>
						<div class="item">
							Likely to be responsible for results of department, division,
							region or firm.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-7 </div>

				<div class="header">
					Responsible for
					Directing
					Others/Direction
					Received
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Plans, organizes, and directs work of senior professionals and
							support staff.
						</div>
						<div class="item">
							Receives appropriate supervision when needed.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-7 </div>

				<div class="header">
					Typical Duties
					And
					Responsibilities
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Helps define company policy and directs all areas of business
							practice ensuring they are compliant with company policy.
						</div>
						<div class="item">
							Develop new areas within business practice.
						</div>
						<div class="item">
							Responsible for meeting regional or firmwide goals.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-7 </div>

				<div class="header">
					Education
					Experience
					Registration
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							Bachelor’s or Master’s degree, plus 12 or more years of relevant
							experience.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-7 </div>

				<div class="header">
					Typical Abilities
					and
					Attainments
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Ability to strategically plan future aspects of their specialty
							within the region and firm. Is viewed throughout the firm as a
							leader in their field.
						</div>
						<div class="item">
							Easily links activities and goals of their specialty to business
							objectives.
						</div>
						<div class="item">
							Engages in business planning activities and budget planning.
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<br>
<br>

<div class="ui equal width center aligned padded grid stackable relaxed">
	<div class="row"></div>

	<h4 class="ui horizontal divider header">
		B-8
	</h4>

	<div class="row"> </div>
	<div class="ui three stackable  cards" style="margin-top: 35px;">

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-8 </div>

				<div class="header">Typical Titles </div>

				<div class="description">
					<div class="item" style="margin-bottom: 10px;">
						Senior-level Managers or Directors
						Vice President
					</div>
				</div>

				<div class="header">FLSA Status </div>
				<div class="meta" style="margin-bottom: 10px;">Exempt </div>

			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-8 </div>

				<div class="header">
					General
					Characteristics
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Has extensive experience and significant regional or firm wide
							management responsibilities.
						</div>
						<div class="item">
							Organizes, plans, and guides significant segments of the business.
						</div>
						<div class="item">
							Exhibits excellent understanding of company.
						</div>
						<div class="item">
							Negotiates critical and controversial issues with top level
							professionals internally and externally.
						</div>
						<div class="item">
							Demonstrates company’s Core Values in behaviors and job
							performance; leads by example.
						</div>
						<div class="item">
							Likely to be responsible for results of department, division, region or
							firm.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-8 </div>

				<div class="header">
					Responsible for
					Directing
					Others/Direction
					Received
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Provides general administrative direction
						</div>
						<div class="item">
							May supervise several subordinate managers.
						</div>
						<div class="item">
							Receives appropriate executive supervision when needed.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-8 </div>

				<div class="header">
					Typical Duties
					And
					Responsibilities
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Directs an important segment of the firm.
						</div>
						<div class="item">
							Helps to attain strategic vision and set direction of the organization.
						</div>
						<div class="item">
							Interacts with key personnel within the firm and represents the firm
							in public settings.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-8 </div>

				<div class="header">
					Education
					Experience
					Registration
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							Bachelor’s or Master’s degree, plus 15 or more years of relevant experience
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-8 </div>

				<div class="header">
					Typical Abilities
					and
					Attainments
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Ability to strategically plan future aspects of their specialty within the
							region and firm.
						</div>
						<div class="item">
							Is viewed throughout the firm as a leader in their field
						</div>
						<div class="item">
							Easily links activities and goals of their specialty to business
							objectives.
						</div>
						<div class="item">
							Engages in business planning activities and budget planning.
						</div>
						<div class="item">
							Plays major independent role in the success of the firm
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<br>
<br>

<div class="ui equal width center aligned padded grid stackable relaxed">
	<div class="row"></div>

	<h4 class="ui horizontal divider header">
		B-9
	</h4>

	<div class="row"> </div>
	<div class="ui three stackable  cards" style="margin-top: 35px;">

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-9 </div>

				<div class="header">Typical Titles </div>

				<div class="description">
					<div class="item" style="margin-bottom: 10px;">
						Chief Executive Officer
					</div>
				</div>

				<div class="header">FLSA Status </div>
				<div class="meta" style="margin-bottom: 10px;">Exempt </div>

			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-9 </div>

				<div class="header">
					General
					Characteristics
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Has ultimate responsibility for the overall success of the
							firm
						</div>
						<div class="item">
							Sets standards for core values of the firm
						</div>
						<div class="item">
							Promotes a culture that encourages good performance
							and rewards productivity.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-9 </div>

				<div class="header">
					Responsible for
					Directing
					Others/Direction
					Received
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Conveys mission, culture, and vision to staff
						</div>
						<div class="item">
							Develops future leadership within the organization
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-9 </div>

				<div class="header">
					Typical Duties
					And
					Responsibilities
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Collaborates with the Board of Directors to define the
							organization’s vision, and to develop strategies to attain that
							vision.
						</div>
						<div class="item">
							Works through others to implements policy directives of the
							Board
						</div>
						<div class="item">
							Drives and/or supports change in the firm’s systems and
							practices
						</div>
						<div class="item">
							Reports progress of the firm to the board of Directors
						</div>
						<div class="item">
							Oversees the operations of the organization. Manages its
							compliance with legal and regulatory compliance.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-9 </div>

				<div class="header">
					Education
					Experience
					Registration
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div>
							Bachelor’s or Master’s degree, plus 15 or more years of relevant
							experience
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">B-9 </div>

				<div class="header">
					Typical Abilities
					and
					Attainments
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Ability to translate vision into manageable components
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<br>
<p>This career ladder is a general guide only. All employment classifications will be based on individual circumstances</p>
<br>
<br>
<br>
