@model dynamic

@{
	ViewBag.Title = "HR Practice Ladder";
	Layout = "_Layout";
}
<div class="ui equal width center aligned padded grid stackable relaxed">
	<div class="row " style=" margin-bottom: 25px;  margin-left: 10px; margin-right: 10px; ">
		<h1 style="margin-top: 50px;" class="centered ">HR Practice Ladder </h1>
	</div>

	<h4 class="ui horizontal divider header">
		P
	</h4>

	<div class="ui three stackable  cards" style="margin-top: 35px;">

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P </div>

				<div class="header">Typical Titles </div>

				<div class="description">
					<div class="item" style="margin-bottom: 10px;">
						Engineering Analyst/Planner/Travel Demand
						Modeler
					</div>
				</div>

				<div class="header">FLSA Status </div>
				<div class="meta" style="margin-bottom: 10px;">Non-Exempt </div>

			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P </div>

				<div class="header">
					General
					Characteristics
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Is in training as an entry level
							professional.
						</div>
						<div class="item">
							Involved in assignments that develop
							abilities in area of specialty.
						</div>
						<div class="item">
							Begins to develop professional judgment
							as independent discretion is exercised.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P </div>

				<div class="header">
					Responsible for
					Directing
					Others/Direction
					Received
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Works under close supervision with
							project and task team leaders and takes
							direction on tasks assigned.
						</div>
						<div class="item">
							May work with technical and support
							staff.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P </div>

				<div class="header">
					Typical Duties
					And
					Responsibilities
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Responsibilities include: research, field
							work, observation and some preliminary
							design calculations.
						</div>
						<div class="item">
							Should begin to become familiar with
							firm’s methods, standards and
							practices.
						</div>
						<div class="item">
							Take personal responsibility for quality
							of tasks performed.
						</div>
						<div class="item">
							Participate in peer review of task level
							assignments.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P </div>

				<div class="header">
					Education*
					Experience
					Registration
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Requires bachelor’s degree and 0-12
							months of experience.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P </div>

				<div class="header">
					Typical Abilities
					and
					Attainments
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Training position with reclassification to
							P1 expected within 3-6 months.
						</div>
						<div class="item">
							The P training period should prepare the
							individual to meet the expectations of
							the P1 career ladder description.
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>

<br>
<br>

<div class="ui equal width center aligned padded grid stackable relaxed">
	<div class="row"> </div>
	<h4 class="ui horizontal divider header">
		P-1
	</h4>

	<div class="row"> </div>
	<div class="ui three stackable cards" style="margin-top: 35px;">

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-1 </div>

				<div class="header">Typical Titles </div>

				<div class="description">
					<div class="item" style="margin-bottom: 10px;">
						Engineering Analyst /Planner / Travel Demand
						Modeler
					</div>
				</div>

				<div class="header">FLSA Status </div>
				<div class="meta" style="margin-bottom: 10px;">Exempt </div>

			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-1 </div>

				<div class="header">
					General
					Characteristics
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Entry level professional. Involved in
							assignments that continue to develop
							abilities in area of specialty.
						</div>
						<div class="item">
							Makes independent decisions about
							assigned areas of responsibility.
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-1 </div>

				<div class="header">
					Responsible for
					Directing
					Others/Direction
					Received
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							May direct and be assisted by technical
							and support staff on a variety of tasks.
						</div>
						<div class="item">
							Works closely with project and task team
							leaders.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-1 </div>

				<div class="header">
					Typical Duties
					And
					Responsibilities
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Responsibilities include preparing
							preliminary analysis on a variety of
							technical tasks.
						</div>
						<div class="item">
							Activities include research, preliminary
							design calculations and field work and
							observation.
						</div>
						<div class="item">
							Responsible for becoming familiar with
							firm’s methods, standards, and
							practices.
						</div>
						<div class="item">
							Take personal responsibility for quality of
							tasks performed.
						</div>
						<div class="item">
							Participate in peer review of task level
							assignments.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-1 </div>

				<div class="header">
					Education*
					Experience
					Registration
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Requires bachelor’s degree and 3+
							months experience.
						</div>
						<div class="item">
							Engineering Analyst may have EIT.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-1 </div>

				<div class="header">
					Typical Abilities
					and
					Attainments
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Demonstrates willingness to accept new
							challenges and learn specialized field.
						</div>
						<div class="item">
							Continues on-the-job training.
						</div>
						<div class="item">
							Growing knowledge of profession as
							demonstrated by involvement in related
							professional organizations, professional
							development programs, or other training.
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>


</div>

<br>
<br>

<div class="ui equal width center aligned padded grid stackable relaxed">
	<div class="row"> </div>
	<h4 class="ui horizontal divider header">
		P-2
	</h4>

	<div class="row"> </div>
	<div class="ui three stackable  cards" style="margin-top: 35px;">

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-2 </div>

				<div class="header">Typical Titles </div>

				<div class="description">
					<div class="item" style="margin-bottom: 10px;">
						Engineering Analyst /Planner / Travel Demand
						Modeler
					</div>
				</div>

				<div class="header">FLSA Status </div>
				<div class="meta" style="margin-bottom: 10px;">Exempt </div>

			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-2 </div>

				<div class="header">
					General
					Characteristics
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Based on experience and ability,
							increasing responsibilities to direct and
							be assisted by technical and support
							staff.
						</div>
						<div class="item">
							May assume task management
							responsibilities.
						</div>
						<div class="item">
							Exercises an increased amount of
							professional judgment and discretion.
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-2 </div>

				<div class="header">
					Responsible for
					Directing
					Others/Direction
					Received
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Increasing responsibility to direct
							technical and support staff.
						</div>
						<div class="item">
							Works closely with project and team
							leaders.
						</div>
						<div class="item">
							Receives general supervision.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-2 </div>

				<div class="header">
					Typical Duties
					And
					Responsibilities
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							May participate in development of
							preliminary design concepts, make
							comparative cost and analysis or write
							preliminary specifications.
						</div>
						<div class="item">
							Recognize discrepancies in results and
							make appropriate changes and follows
							procedure through completion.
						</div>
						<div class="item">
							Responsible for familiarity with the
							firm’s practices, procedures, and
							standards.
						</div>
						<div class="item">
							May perform limited quality control
							reviews within areas of expertise.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-2 </div>

				<div class="header">
					Education*
					Experience
					Registration
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Requires bachelor’s degree and 18+
							months experience or master’s degree.
						</div>
						<div class="item">
							Engineering Analyst may have EIT.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-2 </div>

				<div class="header">
					Typical Abilities
					and
					Attainments
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Good oral and written communication
							skills; good sense of professional role.
						</div>
						<div class="item">
							Continues on-the-job training and/or
							outside seminars.
						</div>
						<div class="item">
							Continued involvement in related
							professional organizations, professional
							development programs, or other
							training to grow knowledge in practice
							area.
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>


</div>

<br>
<br>

<div class="ui equal width center aligned padded grid stackable relaxed">
	<div class="row"> </div>
	<h4 class="ui horizontal divider header">
		P-3
	</h4>

	<div class="row"> </div>
	<div class="ui three stackable  cards" style="margin-top: 35px;">

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-3 </div>

				<div class="header">Typical Titles </div>

				<div class="description">
					<div class="item" style="margin-bottom: 10px;">
						Engineering Analyst /Planner / Travel Demand
						Modeler
					</div>
				</div>

				<div class="header">FLSA Status </div>
				<div class="meta" style="margin-bottom: 10px;">Exempt </div>

			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-3 </div>

				<div class="header">
					General
					Characteristics
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Increasing responsibilities to direct and be
							assisted by technical and support staff.
						</div>
						<div class="item">
							Analyzes or programs independently.
						</div>
						<div class="item">
							Evaluates, selects and applies standard
							techniques, procedures and criteria.
						</div>
						<div class="item">
							Applies an increased amount of professional
							judgment and discretion.
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-3 </div>

				<div class="header">
					Responsible for
					Directing
					Others/Direction
					Received
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							May supervise or coordinate work of others
							on specific projects or tasks.
						</div>
						<div class="item">
							Receives only general direction from
							supervisor.
						</div>
						<div class="item">
							May work as a team member on unusual or
							complex problems.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-3 </div>

				<div class="header">
					Typical Duties
					And
					Responsibilities
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Assignments may include design
							development, systems, or software design
							development preparations of
							specifications, research investigations,
							report preparations and other activities of
							a limited scope requiring knowledge of
							design goals, standard principals, and
							techniques.
						</div>
						<div class="item">
							Responsible for project phases as Task
							Manager.
						</div>
						<div class="item">
							Must consistently apply firm’s procedures.
						</div>
						<div class="item">
							May select or recommend procedures based
							on precedent.
						</div>
						<div class="item">
							May perform limited quality control reviews
							and assist with quality assurance
							procedures within areas of expertise.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-3 </div>

				<div class="header">
					Education*
					Experience
					Registration
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Bachelor’s degree and 3+ years experience
							or master’s degree and 18+ months
							experience.
						</div>
						<div class="item">
							Engineering Analyst must be Certified EIT.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-3 </div>

				<div class="header">
					Typical Abilities
					and
					Attainments
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Ability to deal effectively with people at all
							levels. Emerging leadership skills.
						</div>
						<div class="item">
							Comprehensive understanding of practice
							area.
						</div>
						<div class="item">
							Continued involvement in related
							professional organizations, professional
							development programs, or other training to
							grow knowledge in practice area.
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>


</div>

<br>
<br>

<div class="ui equal width center aligned padded grid stackable relaxed">
<div class="row"> </div>
<h4 class="ui horizontal divider header">
	P-4
</h4>

<div class="row"> </div>
<div class="ui three stackable  cards" style="margin-top: 35px;">

	<div class="ui raised link card blue">
		<div class="content">
			<div class="ui top left attached label">P-4 </div>

			<div class="header">Typical Titles </div>

			<div class="description">
				<div class="item" style="margin-bottom: 10px;">
					Engineering Analyst /Planner / Travel Demand
					Modeler
				</div>
			</div>

			<div class="header">FLSA Status </div>
			<div class="meta" style="margin-bottom: 10px;">Exempt </div>

		</div>
	</div>

	<div class="ui raised link card blue">
		<div class="content">
			<div class="ui top left attached label">P-4 </div>

			<div class="header">
				General
				Characteristics
			</div>

			<div class="description">
				<div class="ui bulleted list">
					<div class="item">
						A licensed professional in all conventional
						aspects of a specialty.
					</div>
					<div class="item">
						Devises alternative approaches and
						solutions to problems.
					</div>
					<div class="item">
						Works on technically difficult problems.
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="ui raised link card blue">
		<div class="content">
			<div class="ui top left attached label">P-4 </div>

			<div class="header">
				Responsible for
				Directing
				Others/Direction
				Received
			</div>

			<div class="description">
				<div class="ui bulleted list">
					<div class="item">
						May supervise or coordinate work of
						professionals on specific projects or tasks.
					</div>
					<div class="item">
						Works independently after receiving
						general instructions.
					</div>
					<div class="item">
						Addresses unusual, complex problems with
						general guidance.
					</div>
					<div class="item">
						Supervisor approves work plans and work
						products.
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="ui raised link card blue">
		<div class="content">
			<div class="ui top left attached label">P-4 </div>

			<div class="header">
				Typical Duties
				And
				Responsibilities
			</div>

			<div class="description">
				<div class="ui bulleted list">
					<div class="item">
						Plans, schedules, conducts or coordinates
						detailed phases of a major project of
						moderate scope.
					</div>
					<div class="item">
						Has broad knowledge of fundamentals in
						specialty area and good knowledge of
						principles and practices in related
						specialties.
					</div>
					<div class="item">
						Can develop work plans including revision,
						acceleration or deceleration of a project.
					</div>
					<div class="item">
						Should have at least one year of experience
						working as a Task Manager.
					</div>
					<div class="item">
						Selects procedures and checks complete
						reports and calculations.
					</div>
					<div class="item">
						Familiar with QA/QC procedures and
						understands basic business practice and
						laws related to area of practice.
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="ui raised link card blue">
		<div class="content">
			<div class="ui top left attached label">P-4 </div>

			<div class="header">
				Education*
				Experience
				Registration
			</div>

			<div class="description">
				<div class="ui bulleted list">
					<div class="item">
						Bachelor’s degree and 4+ years experience
						or master’s degree and 3+ years of
						experience.
					</div>
					<div class="item">
						Engineer must have
						registration/certification in state of current
						office.
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="ui raised link card blue">
		<div class="content">
			<div class="ui top left attached label">P-4 </div>

			<div class="header">
				Typical Abilities
				and
				Attainments
			</div>

			<div class="description">
				<div class="ui bulleted list">
					<div class="item">
						Good presentation skills, ability to coach
						and motivate others.
					</div>
					<div class="item">
						Viewed as a leader in technical aspects of
						practice.
					</div>
					<div class="item">
						Demonstrated leadership skills and ability
						to think strategically.
					</div>
					<div class="item">
						Demonstrated high level of competency in
						practice area, project management,
						professional development, client service,
						and leadership.
					</div>
					<div class="item">
						Significant contribution to their core team
						and office.
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

</div>

<br>
<br>

<div class="ui equal width center aligned padded grid stackable relaxed">
	<div class="row"> </div>
	<h4 class="ui horizontal divider header">
		P-5
	</h4>

	<div class="row"> </div>
	<div class="ui three stackable  cards" style="margin-top: 35px;">

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-5 </div>

				<div class="header">Typical Titles </div>

				<div class="description">
					<div class="item" style="margin-bottom: 10px;">
						Engineer
						Planner
						Project Manager
						Travel Demand Modeler
					</div>
				</div>

				<div class="header">FLSA Status </div>
				<div class="meta" style="margin-bottom: 10px;">Exempt </div>

			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-5 </div>

				<div class="header">
					General
					Characteristics
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Likely developing professional
							specialization.
						</div>
						<div class="item">
							Applies diversified knowledge of principals/
							practices in broad areas of assignments.
						</div>
						<div class="item">
							Leads small to medium sized projects.
						</div>
						<div class="item">
							Performs work requiring advanced
							techniques.
						</div>
						<div class="item">
							Makes decisions independently on problems
							and methods.
						</div>
						<div class="item">
							Represents firm in conference/meetings
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-5 </div>

				<div class="header">
					Responsible for
					Directing
					Others/Direction
					Received
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Receives supervision/guidance relating to
							overall objectives, critical issues, or new
							concepts.
						</div>
						<div class="item">
							As Project Manager supervises, coordinates,
							and reviews work of a small project team.
						</div>
						<div class="item">
							As a Technical Specialist may be assisted by
							others but generally works independent of
							supervision.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-5 </div>

				<div class="header">
					Typical Duties
					And
					Responsibilities
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Plans, schedules, conducts or coordinates
							detailed phases of a major project or a
							number of small projects.
						</div>
						<div class="item">
							May direct a staff of professional or
							technicians or may be a design specialist.
						</div>
						<div class="item">
							Supports business development at
							interviews and in preparation of proposals.
						</div>
						<div class="item">
							Completely familiar with firm’s standards
							of quality control and compliance.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-5 </div>

				<div class="header">
					Education*
					Experience
					Registration
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Bachelor’s or master’s degree and 6+ years
							of experience.
						</div>
						<div class="item">
							Engineer must have
							registration/certification in state of current
							office.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-5 </div>

				<div class="header">
					Typical Abilities
					and
					Attainments
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Strong interpersonal skills, ability to lead
							and manage others and effectively manage
							strategic issues.
						</div>
						<div class="item">
							Ability to take leadership role in projects
							that impact the firm, not just the region or
							office.
						</div>
						<div class="item">
							Leadership roles in professional and civic
							organizations.
						</div>
						<div class="item">
							Continued professional development
							activities including project manager
							programs and other formal training
							(technical or managerial).
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<br>
<br>

<div class="ui equal width center aligned padded grid stackable relaxed">
	<div class="row"> </div>
	<h4 class="ui horizontal divider header">
		P-6
	</h4>

	<div class="row"> </div>
	<div class="ui three stackable  cards" style="margin-top: 35px;">

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-6 </div>

				<div class="header">Typical Titles </div>

				<div class="description">
					<div class="item" style="margin-bottom: 10px;">
						Senior: Engineer / Project Manager / Planner /Travel
						Demand Modeler
					</div>
				</div>

				<div class="header">FLSA Status </div>
				<div class="meta" style="margin-bottom: 10px;">Exempt </div>

			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-6 </div>

				<div class="header">
					General
					Characteristics
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Assumes full technical responsibility.
						</div>
						<div class="item">
							Plans and develops projects or phases of projects
							with unique or complex problems.
						</div>
						<div class="item">
							May have other managerial or technical
							responsibilities.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-6 </div>

				<div class="header">
					Responsible for
					Directing
					Others/Direction
					Received
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Plans, organizes and supervises work of
							professional, technical, and support staff.
						</div>
						<div class="item">
							Receives essentially administrative supervision.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-6 </div>

				<div class="header">
					Typical Duties
					And
					Responsibilities
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Plans, develops, coordinates and directs a large
							number of important projects.
						</div>
						<div class="item">
							Supervises project managers and is responsible for
							staff.
						</div>
						<div class="item">
							As a technical specialist, conceives plans and
							conducts research on complex problems.
						</div>
						<div class="item">
							Stays attuned to new professional methods and
							developments.
						</div>
						<div class="item">
							Assists in vision planning for group or office.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-6 </div>

				<div class="header">
					Education*
					Experience
					Registration
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Bachelor’s or master’s degree and 8+ years of
							experience.
						</div>
						<div class="item">
							Previous project management experience
							required.
						</div>
						<div class="item">
							Registration/certification required for Engineer.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-6 </div>

				<div class="header">
					Typical Abilities
					and
					Attainments
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Has excellent grasp of specialty and is up-to-date
							on current developments in specialty area.
						</div>
						<div class="item">
							Able to make independent, clear, and concise
							strategic decisions based on company policy and
							firm culture and philosophy.
						</div>
						<div class="item">
							Leader and or speaker in professional and civic
							organizations.
						</div>
						<div class="item">
							Excellent judgment in handling and solving
							complex issues requiring strategic thought and
							analysis.
						</div>
						<div class="item">
							Has demonstrated sound project management,
							time management, business development, and
							marketing skills.
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>

<br>
<br>

<div class="ui equal width center aligned padded grid stackable relaxed">
	<div class="row"> </div>
	<h4 class="ui horizontal divider header">
		P-7
	</h4>

	<div class="row"> </div>
	<div class="ui three stackable  cards" style="margin-top: 35px;">

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-7 </div>

				<div class="header">Typical Titles </div>

				<div class="description">
					<div class="item" style="margin-bottom: 10px;">
						Senior: Engineer / Project Manager / Planner / Travel
						Demand Modeler
						Department Manager
					</div>
				</div>

				<div class="header">FLSA Status </div>
				<div class="meta" style="margin-bottom: 10px;">Exempt </div>

			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-7 </div>

				<div class="header">
					General
					Characteristics
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Make decisions or recommendations that
							significantly affect the firm’s activities.
						</div>
						<div class="item">
							Initiates and maintains extensive contacts with key
							professionals and officials outside the firm.
						</div>
						<div class="item">
							Determines program objectives and requirements
							and develops standards for diverse professional
							activities.
						</div>
						<div class="item">
							Can conduct complex assignments without
							assistance.
						</div>
						<div class="item">
							Will have demonstrated good judgment in handling
							and solving complex technical assignments.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-7 </div>

				<div class="header">
					Responsible for
					Directing
					Others/Direction
					Received
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Plans, organizes and directs work of staff of
							professionals and support personnel on larger or
							more complex projects.
						</div>
						<div class="item">
							Receives essentially administrative supervision.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-7 </div>

				<div class="header">
					Typical Duties
					And
					Responsibilities
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Responsible for an important segment of project
							management for planning, organizing and
							supervising personnel including subordinate
							project managers.
						</div>
						<div class="item">
							May recommend and implement resources to carry
							out programs needed to fulfill organizational
							objectives.
						</div>
						<div class="item">
							May assist or establish vision planning for group or
							office.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-7 </div>

				<div class="header">
					Education*
					Experience
					Registration
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Bachelor’s or master’s degree and 10+ years of
							experience.
						</div>
						<div class="item">
							Minimum of 4 years supervisory experience and
							previous responsibility for approximately 10 major
							projects.
						</div>
						<div class="item">
							Registration/certification required for Engineer.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-7 </div>

				<div class="header">
					Typical Abilities
					and
					Attainments
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Ability to strategically plan future aspects of their
							specialty within the region and firm.
						</div>
						<div class="item">
							Active in high profile professional and civic
							organizations.
						</div>
						<div class="item">
							Has excellent relationship with clients, the public
							and firm’s staff.
						</div>
						<div class="item">
							Contributed to major proposals.
						</div>
						<div class="item">
							Senior Project Managers will have directed major
							projects.
						</div>
						<div class="item">
							Is viewed throughout the firm as a leader in their
							field.
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>

<br>
<br>

<div class="ui equal width center aligned padded grid stackable relaxed">
	<div class="row"> </div>
	<h4 class="ui horizontal divider header">
		P-8
	</h4>

	<div class="row"> </div>
	<div class="ui three stackable  cards" style="margin-top: 35px;">

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-8 </div>

				<div class="header">Typical Titles </div>

				<div class="description">
					<div class="item" style="margin-bottom: 10px;">
						Senior: Engineer / Project Manager / Planner / Travel
						Demand Modeler
						Department Manager
					</div>
				</div>

				<div class="header">FLSA Status </div>
				<div class="meta" style="margin-bottom: 10px;">Exempt </div>

			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-8 </div>

				<div class="header">
					General
					Characteristics
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Has an excellent understanding of firm’s fields of
							practice from an administrative standpoint
						</div>
						<div class="item">
							Conducts assignments without assistance.
						</div>
						<div class="item">
							Negotiates critical controversial issues with top
							professionals both within and outside the firm.
						</div>
						<div class="item">
							Organizes, plans, and guides significant segments
							of the business.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-8 </div>

				<div class="header">
					Responsible for
					Directing
					Others/Direction
					Received
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Provides general administrative direction.
						</div>
						<div class="item">
							May supervise several subordinate managers.
						</div>
						<div class="item">
							Senior consultants may be assisted by other
							professionals in their specialty.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-8 </div>

				<div class="header">
					Typical Duties
					And
					Responsibilities
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Directs critical and sizeable practice or element of
							the firm.
						</div>
						<div class="item">
							Supervises project managers and has authority
							over personnel.
						</div>
						<div class="item">
							Decides and consults the extent of professional
							and support programs needed to meet the firm’s
							objectives.
						</div>
						<div class="item">
							Establishes vision for group or office.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-8 </div>

				<div class="header">
					Education*
					Experience
					Registration
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Bachelor’s or master’s degree and 15+ years of
							experience.
						</div>
						<div class="item">
							Minimum of 6 years supervisory experience with
							previous responsibility for approximately 15 major
							projects.
						</div>
						<div class="item">
							Registration/certification required for Engineer.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-8 </div>

				<div class="header">
					Typical Abilities
					and
					Attainments
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Ability to strategically plan future aspects of their
                            specialty within the region and firm.
						</div>
						<div class="item">
							Is viewed throughout the firm as a leader in their
                            field.
						</div>
						<div class="item">
						Seeks out opportunities to represent the firm and
                        the profession on matters of public importance.
						</div>
						<div class="item">
							Has major independent role in successful new
                            business development activities.
						</div>
						<div class="item">
							Plays major independent role in the success of the
                            firm.
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>

<br>
<br>

<div class="ui equal width center aligned padded grid stackable relaxed">
	<div class="row"> </div>
	<h4 class="ui horizontal divider header">
		P-9
	</h4>

	<div class="row"> </div>
	<div class="ui three stackable  cards" style="margin-top: 35px;">

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-9 </div>

				<div class="header">Typical Titles </div>

				<div class="description">
					<div class="item" style="margin-bottom: 10px;">
					Vice President/Associate/ Division Manager/ Director of
                    Operations / Office Lead
					</div>
				</div>

				<div class="header">FLSA Status </div>
				<div class="meta" style="margin-bottom: 10px;">Exempt </div>

			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-9 </div>

				<div class="header">
					General
					Characteristics
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
						Responsible for the overallgrowth and profitability
                        of the firm
						</div>
						<div class="item">
						Helps create and execute company strategies
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-9 </div>

				<div class="header">
					Responsible for
					Directing
					Others/Direction
					Received
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
						Sets goals and objectives and holds senior
                        managers responsible for achieving them
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-9 </div>

				<div class="header">
					Typical Duties
					And
					Responsibilities
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Directs all staff members
						</div>
						<div class="item">
						Provides leadership and direction for business
                        development
						</div>
						<div class="item">
						Ensures quality service is provided to clients
						</div>
						<div class="item">
						Prepares strategic business plan and conducts
                        annual business planning
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-9 </div>

				<div class="header">
					Education*
					Experience
					Registration
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
						Bachelor’s or master’s degree and 20+ years of
                        experience.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-9 </div>

				<div class="header">
					Typical Abilities
					and
					Attainments
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
							Ability to strategically plan future aspects of their
                            specialty within the region and firm.
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>

</div>


<br>
<br>

<div class="ui equal width center aligned padded grid stackable relaxed">
	<div class="row"> </div>
	<h4 class="ui horizontal divider header">
		P-10
	</h4>

	<div class="row"> </div>
	<div class="ui three stackable  cards" style="margin-top: 35px;">

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-10 </div>

				<div class="header">Typical Titles </div>

				<div class="description">
					<div class="item" style="margin-bottom: 10px;">
					President/Executive Vice President/Vice
                    President/Associate/Division Manager
					</div>
				</div>

				<div class="header">FLSA Status </div>
				<div class="meta" style="margin-bottom: 10px;">Exempt </div>

			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-10 </div>

				<div class="header">
					General
					Characteristics
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
					Has ultimate responsibility for the overall success
                    of the firm
						</div>
						<div class="item">
				Sets standards for core values of the firm
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-10 </div>

				<div class="header">
					Responsible for
					Directing
					Others/Direction
					Received
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
						Conveys mission, culture, and vision to staff
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-10 </div>

				<div class="header">
					Typical Duties
					And
					Responsibilities
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
						Aligns company resources to achieve short and
                        long-term goals
						</div>
						<div class="item">
					Builds and preserves the firm’s long-term
                    relationships within the industry
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui raised link card blue">
			<div class="content">
				<div class="ui top left attached label">P-10 </div>

				<div class="header">
					Education*
					Experience
					Registration
				</div>

				<div class="description">
					<div class="ui bulleted list">
						<div class="item">
						Bachelor’s or master’s degree and 20+ years of
                        experience.
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
<br>
<p>This career ladder is a general guide only. All employment classifications will be based on individual circumstances</p>
<p>*Degree(s) and experience must be related to areas of practice.</p>
<br>
<br>
<br>









