@model dynamic

@{
	ViewBag.Title = "ATGU";
	Layout = "_Layout";
}

<div class="ui vertical stripe segment" style="margin-top: 75px; margin-bottom: 75px;">
	<div class="ui middle aligned stackable grid container">
		<div class="row" style="padding-left: 50px;padding-right: 50px; padding-bottom: 50px;">
			<div class="eight wide column">
				<h1 class="ui header">ATG University</h1>
			</div>
			<div class="six wide right floated column">
				<img src="img/atgulogo.png" class="ui  rounded image" alt="atg university" width="200px;">
			</div>
		</div>

	</div>
</div>
<div class="ui equal width center aligned padded grid stackable relaxed">

	<div class="row " style=" margin-bottom: 25px;  margin-left: 10px; margin-right: 10px; ">

		<div class="column">
			<h4>What is ATGU? </h4>
			<div class="ui raised segment very padded teal left aligned">
				<div class="ui relaxed divided list">
					<div class="item">
						<i class="large university middle aligned icon"></i>
						<div class="content">
							<div class="description">
								ATG University (ATGU) is a training program to provide staff that can actively and effectively participate in the Project Delivery process as they develop individually and progress up their respective career ladder.
							</div>
						</div>
					</div>
					<div class="item">
						<i class="large arrow right middle aligned icon"></i>
						<div class="content">
							<div class="description">
								It provides an organized approach to proactively teaching and training staff, by clearly defining expectations in then providing access to the requisite training opportunities.
							</div>
						</div>
					</div>
					<div class="item">
						<i class="large arrow right middle aligned icon"></i>
						<div class="content">
							<div class="description">
								It allows staff to advance KSAs at their convenience and desired pace, within guided parameters.
							</div>
						</div>
					</div>
					<div class="item">
						<i class="large arrow right middle aligned icon"></i>
						<div class="content">
							<div class="description">
								It includes recommended courses taken from industry standard practice trainings, client mandated and/or provided trainings, vendor trainings, ATG in-house courses and ATG Certificates.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="column">
			<h4>Who is ATGU for?</h4>
			<div class="ui raised segment very padded teal left aligned">
				<div class="ui relaxed divided list">
					<div class="item">
						<i class="large users middle aligned icon"></i>
						<div class="content">
							<div class="description">
								All staff.
								<p>Courses begin at Basic Onboarding and then occur PRIOR to vertical ladder movements along the career ladder and increases in project responsibility.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>


	<br>

	<div class="row">
		<div class="column">
			<h4>How is ATGU incorporated?</h4>
			<div class="ui raised segment very padded teal left aligned" style="margin-left: 50px; margin-right: 50px; width: auto; border-radius: 15px;">

				<div class="ui relaxed divided list">
					<div class="item">
						<div class="content">

							<div class="item">
								<div class="content">
									<div class="description">
										Supervisors and staff are partners in planning how an Individual will achieve their required training opportunities and reflecting those plans in their annual Goal Setting and Performance Review process.
									</div>
								</div>
							</div>

							<div class="ui relaxed divided list">
								<div class="item">
									<i class="large calendar alternate outline middle aligned icon"></i>
									<div class="content">
										<a class="header">September/October </a>
										<div class="description">
											Individual Staff define Training Goals as part of annual Goal Setting (November for 2022 to incorporate new process)
										</div>
									</div>
								</div>
								<div class="item">
									<i class="large calendar alternate outline middle aligned icon"></i>
									<div class="content">
										<a class="header">By November 1 </a>
										<div class="description">
											Staff meet with Supervisor to confirm Performance Goals, including training (December 1 for 2022 to incorporate new process)
										</div>
									</div>
								</div>
								<div class="item">
									<i class="large calendar alternate outline middle aligned icon"></i>
									<div class="content">
										<a class="header">March/April </a>
										<div class="description">
											Staff meet with Supervisor for Mid-Year Performance Review to monitor progress and provide additional resources, including training where necessary, to assist staff in meeting Performance Goals
										</div>
									</div>
								</div>
								<div class="item">
									<i class="large calendar alternate outline middle aligned icon"></i>
									<div class="content">
										<a class="header">September </a>
										<div class="description">
											Staff meet with Supervisor for End of Year Performance Review to determine if Performance Goals, including training, were met
										</div>
									</div>
								</div>

							</div>

						</div>
					</div>
					<div class="item">
						<div class="content">
							<div class="description">
								Training Courses listed on the Training Goal sheet for the performance period or otherwise offered by ATGU can be included on the Admin Gen line of the timesheet with comment “Professional Development – [insert course title]”
							</div>
						</div>
					</div>
					<div class="item">
						<div class="content">
							<div class="description">
								Training courses not included in the Training Goals nor part of ATGU should not be included on the timesheet.
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<br>

	<div class="row" style="margin-top: 25px;">
		<div class="ten wide  column">
			<h4>Who designs training plans?</h4>
			<div class="ui raised segment very padded teal left aligned" style="margin-left: 50px; margin-right: 50px; width: auto; border-radius: 15px;">

				<div class="ui relaxed divided list">
					<div class="item">
						<div class="content">
							<div class="description">
								Staff development is the responsibility of the <a class="ui teal label">Division Managers</a> as they train staff needed to execute the strategic plan within their division.
							</div>
						</div>
					</div>
					<div class="item">
						<div class="content">
							<div class="description">
								<a class="ui teal label">Division Managers</a> are responsible for coordinating and planning goals for staff development with the Supervisors in their area.
							</div>
						</div>
					</div>
					<div class="item">
						<div class="content">
							<div class="description">
								<a class="ui olive label">Supervisors</a> and individual staff are partners in developing and guiding training opportunities to provide staff equipped with the necessary
								<b>knowledge, skills and abilities (KSAs)</b> for providing professional services at ATG.
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

</div>


<br><br>

<div class="ui equal width center aligned padded grid">

	<div class="row" style=" margin-bottom: 25px;  ">
		<div class="column">
			<a asp-action="Curriculum" class="ui right labeled icon button">
				<i class="right arrow icon"></i>
				What is the ATGU Curriculum?
			</a>
		</div>
	</div>
</div>
<br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
