@model dynamic

@{
	ViewBag.Title = "Levels and Topics";
	Layout = "_Layout";
}
<div class="ui equal width center aligned padded grid stackable relaxed">
	<div class="row " style=" margin-bottom: 25px;  margin-left: 10px; margin-right: 10px; ">
		<h1 style="margin-top: 50px;" class="centered ">Levels and Topics </h1>
	</div>
</div>


<div style="padding: 10px;">
<table class="ui celled padded table">
<thead>
<tr>
	<th>Training Level</th>
	<th>Typical Classification</th>
	<th>Typical Job Title</th>
	<th>Minimum Topics to be Mastered to support required KSAs </th>
</tr>
</thead>
<tbody>
<tr style="background-color: lightcyan;">
	<td>
		<h4 class="ui center aligned">Learning A</h4>
	</td>
	<td>
		<h4 class="ui center aligned">P-P2</h4>
	</td>
	<td>
		<div class="ui bulleted list">
			<div>
				Engineering Analyst
			</div>
			<div>
				Planner I
			</div>
			<div>
				Travel Demand Modeler I
			</div>
		</div>
	</td>
	<td class="left aligned">
		<div class="ui bulleted list">
			<div>
				Basic Onboarding
			</div>
			<div>
				Project Management Plan Fundamentals
			</div>
			<div>
				QA/QC Intro
			</div>
			<div>
				Schedules Intro
			</div>
			<div>
				Consulting 101
			</div>

			<div>
				Time Management
			</div>
			<div>
				Interpersonal Communication
			</div>
			<div>
				Goal Setting
			</div>
			<div>
				Performance Review
			</div>
			<div>
				<a href="#">(Applicable to Professional, Business and Administrative Ladders)</a>
			</div>
		</div>
	</td>
</tr>

<tr style="background-color: lightcyan;">
	<td>
		<h4 class="ui center aligned">Learning B</h4>
	</td>
	<td>
		<h4 class="ui center aligned">P3</h4>
	</td>
	<td>
		<div class="ui bulleted list">
			<div>
				Engineering Analyst
			</div>
			<div>
				Planner I
			</div>
			<div>
				Travel Demand Modeler I
			</div>
		</div>
	</td>
	<td class="left aligned">
		<div class="ui bulleted list">
			<div>
				ATGLD/MS Proj 100
			</div>
			<div>
				Technical Trainings as assigned by Supervisor
			</div>
			<div>
				PM 100 (Basics, including CPM, PMB and EV)
			</div>
			<div>
				WBS Development 100
			</div>
			<div>
				Teamwork
			</div>
			<div>
				Leadership
			</div>

			<div>
				<a href="#">(Applicable to Professional, Business and Administrative Ladders)</a>
			</div>
		</div>
	</td>
</tr>

<tr style="background-color: #b7dee8;">
	<td>
		<h4 class="ui center aligned">Teaching A</h4>
	</td>
	<td>
		<h4 class="ui center aligned">P4</h4>
	</td>
	<td>
		<div class="ui bulleted list">
			<div>
				Engineering
			</div>
			<div>
				Planner II
			</div>
			<div>
				Travel Demand Modeler II
			</div>
			<div>
				Project Manager
			</div>
		</div>
	</td>
	<td class="left aligned">
		<div class="ui bulleted list">
			<div>
				Technical Trainings as assigned by Supervisor
			</div>
			<div>
				QA/QC 200
			</div>
			<div>
				PM 100 (Basics, including CPM, PMB and EV)
			</div>
			<div>
				Developing Scope(WBS) 100
			</div>
			<div>
				EV Management 200
			</div>

			<div>
				MS Project 200
			</div>
			<div>
				Adv Communication
			</div>
			<div>
				Marketing SOP
			</div>
			<div>
				Contract Agreements, inc. Liability and Risk Mgmt
			</div>
			<div>
				On-Call Contracts:BD, Management and WAs
			</div>
		</div>
	</td>
</tr>

<tr style="background-color: #b7dee8;">
	<td>
		<h4 class="ui center aligned">Teaching B</h4>
	</td>
	<td>
		<h4 class="ui center aligned">P5</h4>
	</td>
	<td>
		<div class="ui bulleted list">
			<div>
				Engineering
			</div>
			<div>
				Planner II
			</div>
			<div>
				Travel Demand Modeler II
			</div>
			<div>
				Project Manager
			</div>
		</div>
	</td>
	<td class="left aligned">
		<div class="ui bulleted list">
			<div>
				Technical Trainings as assigned by Supervisor
			</div>
			<div>
				MS Project Advanced, incl. Resource Allocations
			</div>
			<div>
				EV Application, PM Dashboard Setup
			</div>
			<div>
				Project Management Plan Develeopment and Mgmt
			</div>
			<div>
				Leading the Project Team, incl. Defining Roles in the Plan
			</div>

			<div>
				Communication Techniques and Plan
			</div>
			<div>
				Project Quality Plan
			</div>
			<div>
				Project Recovery Plan
			</div>
			<div>
				Project Kickoff (Everything is ready Day 0)
			</div>
			<div>
				Managing Client Relationships
			</div>
		</div>
	</td>
</tr>

<tr style="background-color: #92cddc;">
	<td>
		<h4 class="ui center aligned">Leadership A</h4>
	</td>
	<td>
		<h4 class="ui center aligned">P6</h4>
	</td>
	<td>
		<div class="ui bulleted list">
			<div>
				Senior Engineer
			</div>
			<div>
				Senior Planner
			</div>
			<div>
				Senior Travel Demand Modeler
			</div>
			<div>
				Senior Project Manager
			</div>
		</div>
	</td>
	<td class="left aligned">
		<div class="ui bulleted list">
			<div>
				Discussion with supervisor to determine Strategic Planning, People Management, Goal Setting, and/or other enterprise focused classes.
			</div>
		</div>
	</td>
</tr>

<tr style="background-color: #92cddc;">
	<td>
		<h4 class="ui center aligned">Leadership B</h4>
	</td>
	<td>
		<h4 class="ui center aligned">P7</h4>
	</td>
	<td>
		<div class="ui bulleted list">
			<div>
				Senior Engineer
			</div>
			<div>
				Senior Planner
			</div>
			<div>
				Senior Travel Demand Modeler
			</div>
			<div>
				Senior Project Manager
			</div>
			<div>
				Department Manager
			</div>
		</div>
	</td>
	<td class="left aligned">
		<div class="ui bulleted list">
			<div>
				Discussion with supervisor to determine Strategic Planning, People Management, Goal Setting, and/or other enterprise focused classes.
			</div>
		</div>
	</td>
</tr>

<tr style="background-color: #31869b;">
	<td>
		<h4 class="ui center aligned">Executive A</h4>
	</td>
	<td>
		<h4 class="ui center aligned">P8</h4>
	</td>
	<td>
		<div class="ui bulleted list">
			<div>
				Senior Engineer
			</div>
			<div>
				Senior Planner
			</div>
			<div>
				Senior Travel Demand Modeler
			</div>
			<div>
				Senior Project Manager
			</div>
			<div>
				Department Manager
			</div>
		</div>
	</td>
	<td class="left aligned">
		<div class="ui bulleted list">
			<div>
				Discussion with supervisor to determine Strategic Planning, People Management, Goal Setting, and/or other enterprise focused classes.
			</div>
		</div>
	</td>
</tr>

<tr style="background-color: #31869b;">
	<td>
		<h4 class="ui center aligned">Executive B</h4>
	</td>
	<td>
		<h4 class="ui center aligned">P9</h4>
	</td>
	<td>
		<div class="ui bulleted list">
			<div>
				Vice President
			</div>
			<div>
				Associate
			</div>
			<div>
				Division Manager
			</div>
			<div>
				Operations Director
			</div>
			<div>
				Office Lead
			</div>
		</div>
	</td>
	<td class="left aligned">
		<div class="ui bulleted list">
			<div>
				Discussion with supervisor to determine Strategic Planning, People Management, Goal Setting, and/or other enterprise focused classes.
			</div>
		</div>
	</td>
</tr>

<tr style="background-color: #31869b;">
	<td>
		<h4 class="ui center aligned">Executive C</h4>
	</td>
	<td>
		<h4 class="ui center aligned">P10</h4>
	</td>
	<td>
		<div class="ui bulleted list">
			<div>
				President
			</div>
			<div>
				Executive Vice President
			</div>
			<div>
				Vice President
			</div>
			<div>
				Associate
			</div>
			<div>
				Division Manager
			</div>
		</div>
	</td>
	<td class="left aligned">
		<div class="ui bulleted list">
			<div>
				Discussion with supervisor to determine Strategic Planning, People Management, Goal Setting, and/or other enterprise focused classes.
			</div>
		</div>
	</td>
</tr>

</tbody>

</table>
</div>
