<div class="ui breadcrumb padding_g">
	<a href="~/ATGProcesses" class="section">ATG Project Delivery System (Main)</a>
	<i class="right arrow icon divider"></i>
	<a href="~/ATGProcesses/StrategicPlan" class="section">Strategic Plan</a>
	<i class="right arrow icon divider"></i>
	<a href="~/ATGProcesses/AnnualBusinessPlan" class="section">Annual Business Plan</a>
	<i class="right arrow icon divider"></i>
	<a href="~/ATGProcesses/BusinessDevelopment" class="section">Business Development</a>
	<i class="right arrow icon divider"></i>
	<a href="~/ATGProcesses/Contracts" class="section">Contract Phase</a>
	<i class="right arrow icon divider"></i>
	<a href="~/ATGProcesses/ProjectExecution" class="section">Project Execution</a>
	<i class="right arrow icon divider"></i>
	<a href="~/ATGProcesses/ProjectCloseout" class="section">Project Closeout</a>
	<i class="right arrow icon divider"></i>
	<a href="~/ATGProcesses/RecordsRetention" class="section">Records Retention</a>
</div>
<div class="padding_t_2em" style="display: block !important;">
	<h1 class="ui horizontal divider header margin_tb">
		Records Retention
	</h1>
	<div class="ui container">
		<p>To maintain adequate records (electronic and hard copy) for compliance with Federal and State requirements including IRS, FAR, and contracts, the following retention policy should be used:</p>
		<div class="ui styled fluid accordion">
			<div class="ui title">
				<i class="dropdown icon"></i>
				Responsibilities
			</div>
			<div class="content">
				<ul class="transition">
					<li>Administrative Clerk is responsible for scanning, filing, and retention of hard copy records.</li>
					<li>IT is responsible for electronic records.</li>
				</ul>
			</div>
			<div class="ui title">
				<i class="dropdown icon"></i>
				Corporate Records
			</div>
			<div class="content">
				<ul class="transition">
					<li>Corporate records should be maintained permanently. Corporate records include bylaws, stock, financial statements, minutes, etc.</li>
				</ul>
			</div>
			<div class="ui title">
				<i class="dropdown icon"></i>
				Employee/Personnel Files
			</div>
			<div class="content">
				<ul class="transition">
					<li>General rule of thumb – only keep information that can legally be the basis for an employment‐related decision in the file. Employment decisions include hiring, firing, promotion, demotion, layoff, training opportunities and all other actions taken regarding employees.</li>
					<li>Employment decisions may not be made on the basis of sex, race, national origin, color, religion, or veteran’s status so all equal employment opportunity records should be maintained separately.</li>
					<li>
						Keep all employee files up to 6 years.
						<ol>
							<li>Scan; Shred after 6 years</li>
							<li>Reimbursable</li>
							<li>Payroll invoices</li>
						</ol>
					</li>
				</ul>
			</div>
			<div class="ui title">
				<i class="dropdown icon"></i>
				Audit Files
			</div>
			<div class="content">
				<ul class="transition">
					<li>Retain all</li>
				</ul>
			</div>
			<div class="ui title">
				<i class="dropdown icon"></i>
				Legal Folders
			</div>
			<div class="content">
				<ul class="transition">
					<li>Retain all</li>
				</ul>
			</div>
			<div class="ui title">
				<i class="dropdown icon"></i>
				Accounts Receivable Files
			</div>
			<div class="content">
				<ul class="transition">
					<li>
						Inactive files
						<ol>
							<li>Keep contract</li>
							<li>Purchase orders</li>
							<li>Work Authorizations</li>
							<li>All other records - scan and shred</li>
						</ol>
					</li>
				</ul>
			</div>
			<div class="ui title">
				<i class="dropdown icon"></i>
				Project Files
			</div>
			<div class="content">
				<ul class="transition">
					<li>Data – information ATG gathers</li>
					<li>Reports – information ATG provides to clients/owners</li>
					<li>Maps, Letters, Memos, emails – information ATG sends and/or receives</li>
					<li>Project Folder Name – file no., client name, project name, document type, date</li>
					<li>
						File Name – file no., document type, title (including date)
						<ol>
							<li>File number – alphanumeric identifier on the folder</li>
							<li>Client – company/agency</li>
							<li>Project Name – from file folder</li>
							<li>Document type – report, data, letter, map, memo, email, contract, invoice, etc.</li>
							<li>Title – name of report, data, or recipient</li>
						</ol>
					</li>
				</ul>
			</div>
			<div class="ui title">
				<i class="dropdown icon"></i>
				The following is a more detailed list of records and the applicable retention timeframe:
			</div>
			<div class="content">
				<ul class="transition">
					<li>Accident reports/claims (settled cases) | 7 yrs.</li>
					<li>Accounts payable ledgers & schedules | 7 yrs.</li>
					<li>Accounts receivable ledgers & schedules | 7 yrs.</li>
					<li>Audit reports | Permanently</li>
					<li>Bank reconciliations | 2 yrs.</li>
					<li>Bank statements | 3 yrs.</li>
					<li>Capital stock & bond records: ledgers, transfer registers, stubs showing issues, record of interest coupons, options, etc. | Permanently</li>
					<li>Cash books | Permanently</li>
					<li>Charts of accounts | Permanently</li>
					<li>Checks (canceled – see exception below) | 7 yrs.</li>
					<li>Checks (canceled for important payments – i.e., taxes, purchases of property, special contracts, etc. Checks should be filed with the papers pertaining to the underlying transaction.) | Permanently</li>
					<li>Contracts, mortgages, notes, & leases (expired) | 7 yrs.</li>
					<li>Contracts, mortgages, notes, & leases (still in effect) | Permanently</li>
					<li>Correspondence (general) | 2 yrs.</li>
					<li>Correspondence (legal & important matters only) | Permanently</li>
					<li>Correspondence (routine) with customers and/or vendors | 2 yrs.</li>
					<li>Deeds, mortgages, & bills of sale | Permanently</li>
					<li>Depreciation schedules | Permanently</li>
					<li>Duplicate deposit slips | 2 yrs.</li>
					<li>Employment applications | 3 yrs.</li>
					<li>Expense analyses/expense distribution schedules | 7 yrs.</li>
					<li>Financial statements (year‐end, other optional) | Permanently</li>
					<li>Garnishments | 7 yrs.</li>
					<li>General/private ledgers, year‐end trial balance | Permanently</li>
					<li>Insurance policies (expired) | 3 yrs.</li>
					<li>Insurance records, current accident reports, claims, policies, etc. | Permanently</li>
					<li>Internal audit reports (longer retention periods may be desirable) | 3 yrs.</li>
					<li>Internal reports (miscellaneous) | 3 yrs.</li>
					<li>Inventories of products, materials, and supplies | 7 yrs.</li>
					<li>Invoices (to customers, from vendors) | 7 yrs.</li>
					<li>Journals | Permanently</li>
					<li>Minute books of directors, stockholders, bylaws, and charter | Permanently</li>
					<li>Notes receivable ledgers & schedules | 7 yrs.</li>
					<li>Option records (expired) | 7 yrs.</li>
					<li>Patents & related papers | Permanently</li>
					<li>Payroll records & summaries | 7 yrs.</li>
					<li>Personnel files (terminated) | 7 yrs.</li>
					<li>Petty cash vouchers | 3 yrs.</li>
					<li>Physical inventory tags | 3 yrs.</li>
					<li>Plant cost ledgers | 7 yrs.</li>
					<li>Property appraisals by outside appraisers | Permanently</li>
					<li>Property records, including costs, depreciation reserves, year‐end trial balances, depreciation schedules, blueprints, & plans | Permanently</li>
					<li>Purchase orders (except purchasing department copy) | 1 yr.</li>
					<li>Purchase orders (purchasing department copy) | 7 yrs.</li>
					<li>Receiving sheets | 1 yr.</li>
					<li>Retirement & pension records | Permanently</li>
					<li>Requisitions | 1 yr.</li>
					<li>Sales commission reports | 3 yrs.</li>
					<li>Sales records | 7 yrs.</li>
					<li>Scrap & salvage records (inventories, sales, etc.) | 7 yrs.</li>
					<li>Stenographers’ notebooks | 1 yr.</li>
					<li>Stocks & bonds certificates (canceled) | 7 yrs.</li>
					<li>Stockroom withdrawal forms | 1 yr.</li>
					<li>Subsidiary ledgers | 7 yrs.</li>
					<li>Tax returns & worksheets, revenue agents’ reports, and other documents relating to determination of income tax liability | Permanently</li>
					<li>Time books/cards | 7 yrs.</li>
					<li>Trademark registrations and copyrights | Permanently</li>
					<li>Training manuals | Permanently</li>
					<li>Union agreements | Permanently</li>
					<li>Voucher register & schedules | 7 yrs.</li>
					<li>Vouchers for payments to vendors, employees, etc. (includes allowances and reimbursement of employees, officers, etc., for travel and entertainment expenses) | 7 yrs.</li>
					<li>Withholding tax statements | 7 yrs.</li>
				</ul>
			</div>
		</div>
	</div>
</div>
