@using ATGHR.Models.Database
@using ATGHR.Code
@{
	ViewData["Title"] = "Manage All Star Award Requests";
	User ATGUser = (User)Util.GetUser(Context);
}
<h1 class="ui header center aligned">All Star Award</h1>
@*<h2>@ATGUser.Name</h2>*@
@*<h4>You have give BLANK all star awards this year</h4>*@
<div class="ui container light_blue_box margin_t" id="approvedSpotBonuses">
	<h4 class="ui header center aligned">See the All Star Awards ready for review.</h4>
	<div class="ui stackable grid user_details">
		<div class="row team-cards">
			<div class="ui active inverted dimmer local_loader">
				<div class="ui large text loader">Loading</div>
			</div>
		</div>
	</div>
</div>

@section Scripts
	{
	<script>
		$('#review_sheet_nav').addClass('local_active_tab');

		$(function () {
			loadLookups({
				callback: function () {
					$.get('/api/Bonus/ManagePageBonuses', function (data) {
						//console.log(data);
						$.each(data, function (i, bonus) {
							var card = createBonusCard({
								progressType: 'goal',
								name: findUser(bonus.submitteeUserId).name,
								submitter: findUser(bonus.userId).name,
								year: formatInputDate(bonus.createdDatetime),
								submitted: bonus.submitted,
								approved: bonus.approved,
								complete: bonus.complete,
								userId: bonus.userId,
								bonusId: bonus.spotBonusId
							})

							if (bonus.self) {
								$('.self-card').show();
								card.prependTo($('.self-card'));
							} else {
								card.appendTo($('.team-cards'));
							}
							setBonusStatus(card, bonus.submitted, bonus.approved, bonus.complete);
							//console.log(card);
						});
					}).done(function () {
						$('.ui.inverted.dimmer').removeClass("active");

					});
				}
			});

			$('body').on('click select', 'button.options', function () {
				genPrevention(event);
				var bonusId = $(this).attr('data-bonusid');
				window.location.href = "Bonus/" + bonusId
			});
		});

	</script>
}
