@{
	ViewData["Title"] = "About";
}


	<div class="ui text container padding_t_2em">
		<div class="ui dividing header">
			<h1 class="ui header centered">Annual Performance Review Application</h1>
		</div>
		<img class="ui large image centered" src="~/img/fillout_organize.svg" alt="Fill out your review online." />
		<div class="margin_t">
			<p class="about">
				The Data Systems and Analysis team has brought you a web based application to streamline your performance
				review process. Simply login using your ATG email and password, and access your goals and self-evaluations. (More information
				coming...)
			</p>
			
		</div>
		
	</div>





@section Scripts
	{
	<script>
		$('#about_nav').addClass('active');
	</script>

	
}

