@{
	ViewData["Title"] = "Contact";
}

<address>
	Austin<br />
	11500 Metric Boulevard<br />
	Austin, TX 78758<br />
	<abbr title="Phone">P:</abbr>
	512.821.2081
</address>

<address>
	HR Representatives:<br />
	<strong>Larry:</strong> <a href="mailto:LIrvine@emailatg.com">LIrvine@emailatg.com</a><br />
	<strong>Emily:</strong> <a href="mailto:EHodge@emailatg.com">EHodge@emailatg.com</a>
</address>
