@{
	ViewData["Title"] = "Unauthorized";
}

<div class="ui text container margin_t white_form_box">
	<div class="ui dividing header">
		<h1 class="ui header centered">Unauthorized</h1>
	</div>
	<div class="margin_t">
		<p class="about">
			You are not authorized to view this resource.
		</p>
	</div>
</div>
